td
  input.direct_offer_ids.margin-0 type='checkbox' name="direct_offer_ids[#{@id}]"
td = @id
td
  - if @dealer_email
    = "[#{ @dealer_id }] #{@dealer_email}"
  - else
    = "ID: #{ @dealer_id }"
td = "[#{ @offer_id }] #{@offer_name}"
td = @created_at
td = @traffic_sources
