table.body-wrap style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background: #f6f6f6; margin: 0; padding: 0;" 
  tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
    td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;" valign="top" 
    td.container style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;" valign="top" width="600" 
      .content style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;" 
        table.main cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background: #fff; margin: 0; padding: 0; border: 1px solid #e9e9e9;" width="100%" 
          tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
            td.alert.alert-warning align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background: #{ @approved ? '#5fdd00' : '#ff9f00' }; margin: 0; padding: 20px;" valign="top" 
              strong Здравствуйте, #{ @dealer }!
              p
                - case [ @approved, @offers.many? ]
                - when [ true, true ]
                  ' Сообщаем Вам об активации офферов (ID: #{ @offers.map { |o| o[:id] }.join( ', ' ) }) для вашего аккаунта!
                - when [ false, true ]
                  ' Сообщаем Вам об отклонении ваших заявок на офферы (ID: #{ @offers.map { |o| o[:id] }.join( ', ' ) }).
                - when [ true, false ]
                  ' Сообщаем Вам об активации оффера «#{ @offers.first[ :name ] }» для вашего аккаунта!
                - when [ false, false ]
                  ' Сообщаем Вам об отклонении вашей заявки на оффер «#{ @offers.first[ :name ] }».
          tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
            td.content-wrap style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top" 
              table cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" width="100%" 
                tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
                  td.content-block style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top"
                    - if @offers.many?
                      p
                        strong' Офферы:
                      table style='width: 100%'
                        thead
                          tr
                            th style='text-align: left;' width='10%' ID
                            th style='text-align: left;' width='#{ @approved ? '80%' : '90%' }' Название
                            - if @approved
                              th style='text-align: left;' width='10%' Доход
                        tbody
                          - @offers.each do | offer |
                            tr
                              td = offer[ :id ]
                              td
                                small style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;" = offer[ :name ]
                              - if @approved
                                td $ #{ offer[ :cost ] }
                    - else
                      - offer = @offers.first
                      p
                        strong' ID оффера:
                        = offer[ :id ]
                      p
                        strong' Название:
                        = offer[ :name ]
                      - if @approved
                        p
                          strong' Доход:
                          ' $
                          = offer[ :cost ]
                    - if @reason.present?
                      p
                        strong' Комментарий модератора:
                        = @reason
                    - if @approved
                      p
                        - if @offers.many?
                          | Теперь офферы активированы и Вы сможете начать использовать их для монетизации вашего трафика.
                        - else
                          | Теперь оффер активирован и Вы сможете начать использовать его для монетизации вашего трафика.

                tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
                  td.content-block style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top" 
                    p По любым вопросам обращайтесь к вашему аккаунт менеджеру, его контакты указаны на вкладке «Панель».
                tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
                  td.content-block style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top" 
                    a.btn-primary href="http://richpays.com" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background: #348eda; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;"  Войти в Личный Кабинет
                tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
                  td.content-block style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top" 
                    p Всего доброго и успешной монетизации!
                tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" 
                  td.content-block style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 0px;" valign="top" 
                    strong С верой в вас,
                    br/
                    strong команда RichPays
                tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; margin: 0; padding: 0;" 
                  td.content-block style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; margin: 0; padding: 0 0 0px; text-align: center" valign="top" 
        .footer style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;"
          table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;" width="100%"
            tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;"
              td align="center" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;" valign="top"
                = link_to 'Настроить уведомления', notification_setting_url(@dealer.notification_settings), { style: "font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0; padding: 0;" }
              td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;" valign="top" 
