h1 Партнёры

table
  thead
    tr
      th ID партнёра
      th Почта партнёра
      th Войти
      th Ожидает начисления
      th Начислено
      th Начислено
  tbody
  - @dealers.each do | dealer |
    tr
      td= dealer.id
      td= link_to dealer.email, admin_dealer_path( dealer )
      td= link_to 'Войти', admin_dealer_become_path( dealer )
      td= dealer.dealer_balance.waiting.round(2)
      td= dealer.dealer_balance.confirmed.round(2)

= link_to 'Новая выплата', admin_payments_path( admin_payment_id: "payment"), class: 'button'
