h1 = @dealer.email

p Ожидает начисления
p = @dealer.dealer_balance.waiting.round(2)
p Начислено
p = @dealer.dealer_balance.confirmed.round(2)

.row.large-4.left
  = form_tag( admin_dealer_change_balance_path( dealer_id: params[ :id ] ), method: :post ) do
    .large-6.columns
      = label_tag( :value, 'Сумма' )
      = text_field_tag 'value', 0
      =' radio_button( 'balance', 'change', 'increase', checked: true )
      span' Увеличить
      p
      =' radio_button( 'balance', 'change', 'decrease' )
      span' Уменьшить
      = button_to 'Применить', admin_dealer_change_balance_path( dealer_id: params[ :id ], value: params[ :value ] ), class: 'button'
