.container
  = render partial: 'api/buyer_session/partials/landing_heading', locals: { heading: @heading }
  .row
    .col-md-7.col-sm-8
      .carousel-image.phone
        h3.lenta Суперхит загрузок
        #carousel-example-generic.carousel.slide data-ride="carousel"
          ol.carousel-indicators style='margin-left: -114px'
            - @offer.offer_screenshots.each_with_index do | scr, index |
              li class=( 'active' if index.zero? ) data-slide-to=( index ) data-target="#carousel-example-generic"
          .carousel-inner
            - @offer.offer_screenshots.each_with_index do | scr, index |
              .item class=( 'active' if index.zero? )
                img alt='' src=( scr.file_url )
      - if @offer.features_list.any?( &:present? )
        h1 Преимущества:
        ul.check-list.list-unstyled.mt-30.text-size.lg
          - for feature in @offer.features_list
            li = feature
    .col-md-9.col-sm-8
      main
        .head
          .row
            .col-md-5
              span.mask.mb-15
                img alt="" width='140' height='140' src=( @offer.offer_icon.file_url )
              p
                small.text-color.gray-dark.text-nowrap
                  b Всего загрузок: #{ @offer.downloads_count }
                - if @offer.os_version
                  br
                  small Требуемая версия iOS: #{ @offer.os_version } или более поздняя
            .col-md-11
              h1.weight-light.text-overflow.mt-0.mb-15 = @offer.landing_name
              .rating.mb-15 class="star-#{ @offer.rating.to_i }"
                span
                span
                span
                span
                span
              span.text-size.lg.text-muted = '(' + @offer.votes_count.to_s + ')'
              a.btn.install.btn-lg.mt-30 href="#"
                span УСТАНОВИТЬ СЕЙЧАС
                br
                span с AppStore
                = image_tag "../assets/landing/#{ landing_os }/images/apple.png"
          .tabs.mt-30
            ul.nav.nav-tabs role="tablist"
              li.active
                a data-toggle="tab" href="#opisanie" role="tab" = @offer.human_value( :app_kind, :about )
              li
                a data-toggle="tab" href="#otzivy" role="tab"  Отзывы
            .tab-content
              #opisanie.tab-pane.active
                p.mt-30 = @offer.landing_description
              #otzivy.tab-pane
                h3.weight-bold.mt-30.mb-20 Последние 3 отзыва
                - for comment in @offer.offer_comments
                  .row
                    .col-sm-16
                      h3.fw-bold.inline' = comment.commenter.name
                      .rating.small class=( 'star-' + comment.rating.to_s )
                        span
                        span
                        span
                        span
                        span
                      p
                        em.text-muted
                          = comment.body
        .install-block
          .panel.panel-default.text-size.xlg.mb-0
            .panel-body.bg-warning.text-center.text-color.gray-dark
              ' Для установки перейдите
              ' с вашего мобильного устройства
              ' по этой короткой ссылке
              a href="#" onclick=("return false")
                u apst.me/#{@offer_set.redirect_code.code}
          = render partial: 'api/buyer_session/partials/formqr', locals: { landing_os: landing_os }
        .label-free-today
          .label-text
            = 'Бесплатно еще '
            span#my_timer 37:35
  = render partial: 'api/buyer_session/partials/modals', locals: { landing_os: landing_os }
  .overlay-install
