<% if @async %>
  window.onload = function() {
    window.redirectCode = "<%= @redirect_code %>";
    window.srcDomain = "<%= @src_domain %>";
    window.subParams = "<%=raw @sub_params %>";
    setTimeout( 'initIframe()', 1000 );
  };

  function requestJSON( path, callback ) {
    var httpRequest = getXmlHttp();
    httpRequest.timeout = 30000;
    httpRequest.onreadystatechange = function() {
      if ( httpRequest.readyState == 4 && httpRequest.status == 200 ) {
        var data = JSON.parse( httpRequest.responseText );
        if ( callback ) callback( data );
      }
    };
    httpRequest.open( 'GET', path, true );
    httpRequest.send();
  };
<% else %>
  (function() {
    window.redirectCode = "<%= @redirect_code %>";
    window.srcDomain = "<%= @src_domain %>";
    window.subParams = "<%=raw @sub_params %>";
    initIframe();
  } () );

  function requestJSON( path, callback ) {
    var httpRequest = getXmlHttp();
    httpRequest.onreadystatechange = function() {
      if ( httpRequest.readyState == 4 && httpRequest.status == 200 ) {
        var data = JSON.parse( httpRequest.responseText );
        if ( callback ) callback( data );
      }
    };
    httpRequest.open( 'GET', path, false );
    httpRequest.send();
  };
<% end %>
  function initIframe() {
    if ( getCookie( "rich_session_<%= @redirect_code %>" ) != undefined ) {
      readOffer();
    } else {
      createCookie( window.redirectCode );
    }
  };

  function readOffer() {
    var rich_cookie = richCookie();
    if ( Object.keys( rich_cookie.offers ).length != 0 && rich_cookie.offers[ 0 ] != undefined && checkLimits() ) {
      var offer_set_id = rich_cookie.offers[ 0 ];
      path = window.srcDomain + '/o/' + offer_set_id + '.json';
      if ( window.subParams != "" ) { path = path + '?' + window.subParams};
      if ( rich_cookie.uniq == true ) {
        if ( window.subParams == "" ) {
          path = path + '?uniq=true'
        } else {
          path = path + '&uniq=true'
        }
      };
      if ( Object.keys( richCookie().offers ).length > 1 ) { rotateOffers() };
      requestJSON( path, showOffer );
    }
  };

  function showOffer( offer_data ) {
    if ( offer_data.enabled == true ) {
      updateCountersCookie();
      sendJsPush( offer_data.id );
      message = offer_data.message || "Пссс, дружище, хочешь скачать немного софта для телефона?";
      if ( confirm( message ) ) {
        sendClicker( offer_data.id );
        changeUniqCookie();
        window.location = offer_data.redirect_url;
      }
    } else {
      readOffer();
    };
  };

  function sendClicker( offer_set_id ) {
    var rich_cookie = richCookie();
    path = window.srcDomain + '/k/' + offer_set_id;
    if ( rich_cookie.uniq == true ) { path = path + '?uniq=true' };
    if ( offer_set_id != undefined ) { syncRequestJSON( path ) };
  };

  function sendJsPush( offer_set_id ) {
    var rich_cookie = richCookie();
    path = window.srcDomain + '/k/' + offer_set_id + '?kind=push';
    if ( rich_cookie.uniq == true ) { path = path + '&uniq=true' };
    if ( offer_set_id != undefined ) { syncRequestJSON( path ) };
  };

  function checkLimits() {
    var rich_cookie = richCookie();
    var rich_days  = rich_cookie.days;
    var rich_hours = rich_cookie.hours;
    var date = new Date();
    var hour = date.getHours();
    var dow  = ( date.getDay() == 0 ) ? 6 : date.getDay() - 1;
    var day_check  = ( rich_days.toString(2).split("")[ dow ]   == '1' )
    var hour_check = ( rich_hours.toString(2).split("")[ hour ] == '1' )
    return ( day_check && hour_check && ( rich_cookie.show_counter < rich_cookie.show_limits ) )
  }

  function createCookie( redirect_code ) {
    path = window.srcDomain + '/c/' + redirect_code + '.json';
    requestJSON( path, addCookie );
  };

  function addCookie( json_from_request ) {
    var json_to_cookie = extend( { rich_key: window.redirectCode,
                                   uniq: true,
                                   show_counter: 0 }, json_from_request );
    saveCookie( json_to_cookie );
    readOffer();
  };

  function rotateOffers() {
    rich_cookie = richCookie();
    rotateElements( rich_cookie.offers );
    saveCookie( rich_cookie );
  };

  function rotateElements( obj ) {
    var first_el = obj[ 0 ]
    for( var i in obj ) {
     i = parseInt(i);
     var last_index = i;
     obj[ i ] = obj[ i+1 ];
    };
    obj[ last_index ] = first_el;
  };

  function updateCountersCookie() {
    var rich_cookie = richCookie();
    rich_cookie.show_counter = rich_cookie.show_counter + 1;
    saveCookie( rich_cookie );
  };

  function changeUniqCookie() {
    var rich_cookie = richCookie();
    if ( rich_cookie.uniq = true ) { rich_cookie.uniq = false };
    saveCookie( rich_cookie );
  };

  function parseCookie( cookie_name ) {
    cookie = getCookie( cookie_name );
    result = ( cookie == undefined ) ? undefined : JSON.parse( getCookie( cookie_name ) );
    return result;
  };

  function richCookie(){
    var rich_cookie = parseCookie( "rich_session_<%= @redirect_code %>" );
    return rich_cookie;
  }

  function getCookie( name ) {
    var matches = document.cookie.match( new RegExp(
      "(?:^|; )" + name.replace( /([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1' ) + "=([^;]*)"
    ));
    return matches ? decodeURIComponent( matches[ 1 ] ) : undefined;
  };

  function saveCookie( rich_cookie ) {
    setCookie( "rich_session_<%= @redirect_code %>", JSON.stringify( rich_cookie ), { expires: 86400, path: '/' } );
  };

  function setCookie( name, value, options ) {
    options = options || {};

    var expires = options.expires;

    if ( typeof expires == "number" && expires ) {
      var d = new Date();
      d.setTime( d.getTime() + expires * 1000 );
      expires = options.expires = d;
    }
    if ( expires && expires.toUTCString ) {
      options.expires = expires.toUTCString();
    }

    value = encodeURIComponent(value);

    var updatedCookie = name + "=" + value;

    for ( var propName in options ) {
      updatedCookie += "; " + propName;
      var propValue = options[ propName ];
      if ( propValue !== true ) {
        updatedCookie += "=" + propValue;
      }
    }

    document.cookie = updatedCookie;
  };

  function syncRequestJSON( path, callback ) {
    var httpRequest = getXmlHttp();
    httpRequest.onreadystatechange = function() {
      if ( httpRequest.readyState == 4 && httpRequest.status == 200 ) {
        var data = JSON.parse( httpRequest.responseText );
        if ( callback ) callback( data );
      }
    };
    httpRequest.open( 'GET', path, false );
    httpRequest.send();
  };

  function getXmlHttp(){
    var xmlhttp;
    try {
      xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (E) {
        xmlhttp = false;
      }
    }
    if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
      xmlhttp = new XMLHttpRequest();
    }
    return xmlhttp;
  };

  function extend( target, source ) {
    target = target || {};
    for ( var prop in source ) {
      if ( typeof source[ prop ] === 'object' ) {
        target[ prop ] = extend( target[ prop ], source[ prop ] );
      } else {
        target[ prop ] = source[ prop ];
      }
    };
    return target;
  };
