<script>
  window.onload = function() {
    window.redirectCode = "<%= @redirect_code %>";
    window.srcDomain = "<%= @src_domain %>";
    window.subParams = "<%=raw @sub_params %>";
    initIframe();
  };

   function initIframe() {
    if ( richCookie() != undefined ) {
      readOffer();
    } else {
      createCookie( window.redirectCode );
    }
  };

  function readOffer() {
    var rich_cookie = richCookie();
    if ( Object.keys( rich_cookie.offers ).length != 0 & rich_cookie.offers[ 0 ] != undefined ) {
      var offer_set_id = rich_cookie.offers[ 0 ];
      path = window.srcDomain + '/o/' + offer_set_id + '.json';
      if ( window.subParams != "" ) { path = path + '?' + window.subParams};
      if ( rich_cookie.uniq == true ) {
        if ( window.subParams == "" ) {
          path = path + '?uniq=true'
        } else {
          path = path + '&uniq=true'
        }
      };
      if ( Object.keys( rich_cookie.offers ).length > 1 ) { rotateOffers() };
        requestJSON( path, showOffer );
    } else {
      redirectToTb( rich_cookie );
    }
  };

  function redirectToTb( rich_cookie ) {
    if ( isMobile() == true ) {
      var tbUrl = rich_cookie.m_tb_url;
    } else {
      var tbUrl = rich_cookie.tb_url;
    };
    sendTbRequest();
    window.location.replace( tbUrl );
  };

  function sendTbRequest() {
    var rich_cookie = richCookie();
    var tb_reason = rich_cookie.tb_reason
    path = window.srcDomain + '/t/' + window.redirectCode  + '?reason=' + tb_reason + '&referer=' + window.location.origin
    syncRequestJSON( path );
  }

  function isMobile() {
    return navigator.userAgent.match( /(android|midp|j2me|symbian|series 60|symbos|windows mobile|windows ce|ppc|smartphone|blackberry|mtk|bada|mobile|windows phone|iphone|ipad)/i ) != null;
  };

  function showOffer( offer_data ) {
    if ( offer_data.enabled == true ) {
      sendClicker( offer_data.id );
      updateCountersCookie();
      window.location.replace( offer_data.redirect_url );
    } else {
      readOffer();
    };
  };

  function sendClicker( offer_set_id ) {
    var rich_cookie = richCookie();
    path = window.srcDomain + '/k/' + offer_set_id;
    if ( rich_cookie.uniq == true ) { path = path + '?uniq=true' };
    if ( offer_set_id != undefined ) { syncRequestJSON( path ) };
  };

  function createCookie() {
    path = window.srcDomain + '/c/' + window.redirectCode + '.json';
    requestJSON( path, addCookie );
  };

  function addCookie( json_from_request ) {
    var expirationDate = new Date( new Date().getTime() + 3600 * 24 * 1000 );
    var json_to_cookie = extend( { rich_key: window.redirectCode,
                                   expires: expirationDate.toUTCString(),
                                   uniq: true,
                                   show_counter: 0 }, json_from_request );
    saveCookie( json_to_cookie );
    readOffer();
  };

  function rotateOffers() {
    var rich_cookie = richCookie();
    rotateElements( rich_cookie.offers );
    saveCookie( rich_cookie );
  };

  function rotateElements( obj ) {
    var first_el = obj[ 0 ]
    for( var i in obj ) {
     i = parseInt(i);
     last_index = i;
     obj[ i ] = obj[ i+1 ];
    };
    obj[ last_index ] = first_el;
  };

  function updateCountersCookie() {
    var rich_cookie = richCookie();
    rich_cookie.show_counter = rich_cookie.show_counter + 1;
    if ( rich_cookie.uniq = true ) { rich_cookie.uniq = false };
    saveCookie( rich_cookie );
  };

  function offerCanceled() {
    var rich_cookie = richCookie();
    rich_cookie.show_counter = ( rich_cookie.show_counter > 0 ) ? rich_cookie.show_counter - 1 : 0;
    saveCookie( rich_cookie );
    readOffer();
  }

  function parseCookie( cookie_name ) {
    cookie = getCookie( cookie_name );
    result = ( cookie == undefined ) ? undefined : JSON.parse( getCookie( cookie_name ) );
    return result;
  };

  function richCookie(){
    var rich_cookie = parseCookie( "rich_session_<%= @redirect_code %>" );
    return rich_cookie;
  }

  function getCookie( name ) {
    var matches = document.cookie.match( new RegExp(
      "(?:^|; )" + name.replace( /([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1' ) + "=([^;]*)"
    ));
    return matches ? decodeURIComponent( matches[ 1 ] ) : undefined;
  };

  function saveCookie( rich_cookie ) {
    setCookie( "rich_session_<%= @redirect_code %>", JSON.stringify( rich_cookie ) );
  };

  function setCookie( name, value, options ) {
    options = options || {}
    value = encodeURIComponent( value );
    var updatedCookie = name + "=" + value;
    for( var propName in options ) {
      updatedCookie += "; " + propName;
      var propValue = options[ propName ];
      if ( propValue !== true ) {
        updatedCookie += "=" + propValue;
       }
    }
    document.cookie = updatedCookie;
  };

  function requestJSON( path, callback ) {
    var httpRequest = getXmlHttp();
    httpRequest.timeout = 30000;
    httpRequest.onreadystatechange = function() {
      if ( httpRequest.readyState == 4 && httpRequest.status == 200 ) {
        var data = JSON.parse( httpRequest.responseText );
        if ( callback ) callback( data );
      };
    };
    httpRequest.open( 'GET', path, true );
    httpRequest.send();
  };

  function syncRequestJSON( path, callback ) {
    var httpRequest = getXmlHttp();
    httpRequest.onreadystatechange = function() {
      if ( httpRequest.readyState == 4 && httpRequest.status == 200 ) {
        var data = JSON.parse( httpRequest.responseText );
        if ( callback ) callback( data );
      }
    };
    httpRequest.open( 'GET', path, false );
    httpRequest.send();
  };

  function getXmlHttp(){
    var xmlhttp;
    try {
      xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (E) {
        xmlhttp = false;
      }
    }
    if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
      xmlhttp = new XMLHttpRequest();
    }
    return xmlhttp;
  };

  function extend( target, source ) {
    target = target || {};
    for ( var prop in source ) {
      if ( typeof source[ prop ] === 'object' ) {
        target[ prop ] = extend( target[ prop ], source[ prop ] );
      } else {
        target[ prop ] = source[ prop ];
      }
    };
    return target;
  };
</script>
