ul.chat.no-bullet
  - for m in @ticket_messages
    - if m.ownership == 'support'
      li
        .side
          img.th alt='' src='http://res.cloudinary.com/hm54rrv18/image/upload/v1406292022/defaults/ava_manager.jpg'
        .panel
          .head
            h4.weight-bold.inline Вы [#{ m.created_at }]
          p
           = m.message_text
    - else
      li.right-align.padding-b-10
        .side
          img.th alt='' src='http://res.cloudinary.com/hm54rrv18/image/upload/v1406292023/defaults/ava_user.jpg'
        .panel
          .head
            h4.weight-bold.inline #{ @dealer_email } (#{ @dealer_name }) [#{ m.created_at }]
          p
            = m.message_text
