= form_for( resource, as: resource_name,
            url: registration_path( resource_name ),
            remote: true, html: { class: 'welcome_form', autocomplete: 'off' } ) do | f |
  .row
    .large-12.columns
      p.input-bg
        input#name placeholder='Имя' name='dealer[name]' type='text'
        svg.icon.icon-inp-name viewBox=('0 0 16 16')
          use xlink:href='#icon-inp-name'
      p.input-bg
        input#email placeholder='E-mail' name='dealer[email]' type='text'
        svg.icon.icon-inp-email viewBox=('0 0 16 16')
          use xlink:href='#icon-inp-email'
      p.input-bg
        input type='hidden' name='dealer[wallets_attributes][0][kind]' value='WMZ'
        input type='hidden' name='dealer[wallets_attributes][0][name]' value='Главный кошелек'
        input#number placeholder='WMZ-кошелек' name='dealer[wallets_attributes][0][number]' type='text'
        svg.icon.icon-purse viewBox='0 0 16 16'
          use xlink:href='#icon-purse'
      .drop-contacts
        .parent-contact
          .input-bg
            input#skype.contact placeholder='Skype' name='dealer[skype]' type='text'
            svg.icon.icon-inp-skype viewBox=('0 0 16 16')
              use xlink:href='#icon-inp-skype'
        ul.no-bullet style='display: none;'
          li
            .input-bg
              input#icq.contact placeholder='ICQ' name='dealer[icq]' type='text'
              svg.icon.icon-icq viewBox=('0 0 16 16')
                use xlink:href='#icon-icq'
          li
            .input-bg
              input#jabber.contact placeholder='Jabber' name='dealer[jabber]' type='text'
              svg.icon.icon-jabber viewBox=('0 0 16 16')
                use xlink:href='#icon-jabber'
      p.input-bg
        input#password.password placeholder='Пароль' name='dealer[password]' type='text' autocomplete='off'
        svg.icon.icon-inp-close viewBox=('0 0 16 16')
          use xlink:href='#icon-inp-close'
      input#reg-params type='hidden' name='dealer[reg_params]'
      p.tiny-size
        | Регистрируясь, Вы принимаете
        a.u.light-link data-reveal-id='agreement'  условия сотрудничества.
        #agreement.reveal-modal data-reveal='' style='z-index: 9000'
          .scrollfix-modal
            .title.text-center
              h2 Условия сотрудничества
            b Предмет соглашения.
            p
            p 1.1  Настоящее Соглашение представляет собой официальное предложение (Публичную оферту) Компании Richpays, именуемой в дальнейшем «Компания», и является основным регулирующим документом по предоставлению и использованию услуг между Компанией и Партнером. 

            p 1.2  В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) Партнером считается физическое лицо, обладающее полным правом и дееспособностью, либо любой уполномоченный представитель юридического лица, обладающий правом заключения договоров, принявшие изложенные ниже условия (произведшие акцепт оферты). 

            p 1.3  В соответствии с пунктом 3 статьи 438 ГК РФ принятие условий оферты (акцепт) равносильно заключению договора на условиях, изложенных в Публичной оферте (далее Соглашение). 

            p 1.4  Согласием Партнера с условиями Соглашения (акцептом оферты) является прохождение регистрации на сайте Компании в сети Интернет по адресу<a href='http://richpays.com/'> http://richpays.com/</a>. 

            p 1.5  Приняв условия Соглашения, Партнер тем самым высказывает свое полное согласие со всеми пунктами оферты. Акцепт оферты также свидетельствует о том, что Партнер полностью осознает значение и последствия своих действий, находится в ясном уме и твердой памяти, не подвержен влиянию обмана, заблуждения, угрозы или прочего. 

            p 1.6  Акцепт оферты подтверждает и гарантирует полное право Партнера на заключение настоящего Соглашения. 

            p 1.7  Актуальная версия настоящего Соглашения размещена на сайте Компании по адресу <a href='http://richpays.com/'> http://richpays.com/ </a>. 
            p
            b Порядок заключения соглашения.
            p
            p 2.1 Партнер должен зарегистрироваться на форме регистрации расположенной на сайте компании <a href='http://richpays.com/'> http://richpays.com/ </a>.
            p 2.2 Регистрироваться имеют право все физические лица, достигшие возраста полных 14 лет (статья 26 ГК РФ) и юридические лица, в лице уполномоченных представителей.
            p 2.3 После заполнения всех данных на форме регистрации и признания настоящих правил, Партнер делает акцепт о заключении соглашения об его участии в партнерской программе <a href='http://richpays.com/'> http://richpays.com/ </a>.
            p 2.4 При выполнении настоящих условий, Партнер получает подтверждающее письмо, на указанный им при регистрации адрес электронной почты. Далее, Партнер обязан произвести оставшиеся шаги регистрации, чтобы иметь возможность работать в партнерской программе<a href='http://richpays.com/'> http://richpays.com/ </a>.
            p
            b Термины и определения.
            p
            p Компания – веб-сайт партнерской программы, расположенный по адресу http://Richpays.com
            p Администрация – руководство Компании, осуществляющее управление партнерской программой на условиях данной оферты.
            p Личный кабинет – виртуальное пространство, выделенное пользователю на сайте компании для управления своими данными.
            p Услуги – деятельность администрации по присоединению клиентов Компании к партнерской программе.
            p Партнер – юридическое или физическое лицо, которое является клиентом Компании.
            p Оффер – рекламные предложения с оплатой за действие (установку, скачивание, заявку).
            p Оператор – юридическое лицо, предоставляющее услуги сотовой связи на основании выданной ему соответствующей лицензии. 
            p Абонент – пользователь услуг сотовой сети Оператора.
            p Фрод – незаконный способ отправки запросов Оператору, который дает возможность получать доступ к услуге Компании при ограниченном балансе или вообще без списания средств с баланса мобильного телефона. 
            p Спам – нежелательная рассылка сообщений посредством sms, e-mail, icq или других способов связи, носящая в основном рекламный характер. 
            p
            b Общие положения.
            p
            p Данное соглашение регламентирует условия и порядок предоставления услуг Партнерам Компании.
            p Стороны принимают данный свод правил.
            p Изучите данное соглашение. Если некоторые его пункты вызывают у вас сомнения, либо опасения, не принимайте данное соглашение, либо обсудите данные пункты с сотрудниками или Администрацией Компании.
            p Принимая настоящее соглашение, Партнер Компании соглашается с каждым пунктом данного соглашения, обязуется соблюдать его и нести ответственность за деятельность, нарушающую правила настоящего соглашения.
            p После завершения процедуры регистрации, за Партнером закрепляется логин и пароль, указанный при регистрации.Эти данные необходимы для получения доступа к личному кабинету, где Партнер управляет своим счетом, анализирует статистику и так далее.
            p Всю ответственность за утерянные данные от Личного кабинета Компании несет Партнер, с условием, что Компания также гарантирует конфиденциальность данной информации. Партнер также несет ответственность за все действия, совершенные под принадлежащим ему логином и паролем.
            p Настоящее публичное соглашение заключается на неопределённое время.
            p Стороны могут расторгнуть соглашение по своему желанию в любой момент времени.
            p
            b Права и обязанности сторон.
            p
            b Компания обязуется:
            p
            p 5.1 Оказывать Партнеру информационную и техническую поддержку касательно использования услуг Компании в полном объеме.
            p 5.2 Осуществлять конвертацию поступающего мобильного трафика от Партнера на серверах Компании.
            p 5.3 Регулярно осуществлять выплаты денежных средств, заработанных Партнером.
            p 5.4 Соблюдать график выплат денежных средств Партнерам.
            p 5.5 Сохранять в тайне личные данные Партнеров и не разглашать их третьим лицам кроме случаев нарушений настоящего соглашения или случаев, предусмотренных законодательством.
            p
            b Партнер обязуется:
            p
            p 5.6 Ознакомиться с данным Соглашением и соблюдать его.
            p 5.7 Указывать точные и достоверные данные, в том числе платежные реквизиты, правильно указывать информацию с сервисов <a href='http://webmoney.ru'> webmoney.ru </a>, <a href='http://epayments.com'> epayments.com</a>, <a href='http://epese.com'> epese.com </a> принадлежащий и доступный Партнеру ящик электронной почты, на который Компания может отправлять вам различные уведомления.
            p 5.8 Выполнять иные Правила Компании и все их дополнительные приложения.
            p 5.9 Отказ от получения информации с Компании возможен в случаях обращения в поддержку Компании, через блокировку и удаление Партнера с базы данных партнерской программы, через Тикет-систему.
            p 5.10 Сообщать администрации Компании о частичном, либо полностью не поступлении денежных средств по заявленной выплате после того, как информацию о произведенных выплатах Партнерам уже появилась на Сайте партнерской программы.
            p 5.11 Задействовать только законные методы привлечения трафика, где запрещается:
            p 5.11.1 Привлекать трафик при помощи вредоносных программ.
            p 5.11.2 Привлекать трафик с сайтов, содержащих информацию о психотропных и наркотических веществах, детскую порнографию, экстремистские и другие материалы, запрещенные законодательством.
            p 5.11.3 При привлечении пользователей использовать запрещенные слова и производные от них (зоофилия, детская порнография и так далее).
            p 5.11.4 Использовать рекламу с использованием программ с подменой выдачи, троянских программ, консолей и иных незаконных способов.
            p 5.11.5 Отправлять любой спам для привлечения трафика на любые промо-сервисы Компании.
            p 5.11.6 Фрод и накрутка, фиктивная генерация конверсий.
            p 5.11.7 Использование взломанных сайтов.
            p 5.11.8 Применять способы рекламы, которые делают возможным регистрацию оплаченного действия, но принуждают посетителя к выполнению этих действий посредством обмана, шантажа или любых других действий, нарушающих свободу выбора посетителя..
            p 5.11.9 Использовать тизеры и новостные сайты, связанные со знаменитостями или политикой.
            p 5.11.10 Регистрация нескольких учетных записей на сайте Компании без предварительного согласия от администрации.
            p 5.11.11 Распространение ссылок среди друзей, коллег по работе и иных лиц, которые могут осуществлять установку приложения без конкретного интереса к нему.
            p 5.11.12 Привлекать рефераллов через cookie-stuffing и иные незаконные пути.
            p 5.11.13 Отправлять редирект трафик на офферы, где указан запрет на данный трафик.
            p 5.11.14 Отправлять Adult трафик на офферы, где указан запрет на данный трафик.
            p 5.11.15 Отправлять мотивированный трафик на офферы, кроме офферов, которые разрешают мотивированный (incent) трафик.
            p 5.12 Партнер обязуется на своих ресурсах(сайтах) устанавливать счетчики переходов пользователей. В случае, если Партнер производит арбитраж трафика, то Партнер должен полностью предоставлять доступы к аккаунту для проверки обьявлений (в случае наличия подозрений со стороны рекламодателя-издателя приложений).
            p 5.13 Партнер обязуется соблюдать все правила и нормы поведения, с уважением относиться к руководству Компании, его сотрудникам и другим Партнерам и участникам системы.
            p
            b Запрещается:
            p
            p
              b 5.12.1 Обман или попытки ввести в заблуждение сотрудников Компании.
            p
              b 5.12.2 Неуважительное отношение к сотрудникам, администрации Компании и другим Партнерам.
            p
              b 5.12.3 Любые оскорбления в сторону сотрудников, администрации Компании и других Партнеров.
            p 
              b 5.12.4 Публично обсуждать деятельность сотрудников и администрации Компании.
            p 
              b 5.13 Привлекать рефералов незаконным путем.
            p
            b Запрещается:
            p
            p 
              b 5.13.1 Регистрация в партнерской программе по своей реферальной ссылке.
            p 
              b 5.13.2 Спам-рассылка реферальных ссылок партнерской программы с целью привлечение партнеров.
            p
            b Компания имеет право:
            p
            p
              b 5.14 При нарушении Правил партнерской программы заблокировать аккаунт, а также подвергнуть перманентной (навсегда) блокировке денежных средств, находящихся в этот момент на счету Партнера в партнерской программе.
            p
              b 5.15 Возложить штрафы на партнера в случаях, когда последний нарушил правила Компании.
            p
              b 5.16 Приостановить работу сервисов Компании на время проведения работ по обновлению программного обеспечения, модернизации оборудования, либо изменения кода партнерской программы.
            p
              b 5.17 Использовать почтовые, платежные и иные реквизиты для отправки писем, платежей от имени Партнерской программы с содержанием новостей, акций и бонусов Компании.
            p
              b 5.18. Заблокировать и отозвать денежные средства рефовода, заработанные с конкретного реферала, если последний нарушил правила настоящего соглашения.
            p
            b Партнер имеет право:
            p
            p
              b 5.19 В случае возникновения подозрений, либо опасений, расторгнуть данное соглашение.
            p
              b 5.20 Обращаться к сотрудникам и Администрации Компании за технической или информационной помощью.
            p
              b 5.21 Требовать от администрации осуществлять выплаты в установленные сроки.
            p
              b 5.22 Использовать все законные способы привлечения Партнеров на сайт Компании.
            p
            b 6. Ответственности сторон.
            p
            p 6.1 Администрация Компании не несет ответственности за убытки, которые возникли в результате неправильного использования Компании Партнером. Убытки в данном случае не возмещаются.
            p 6.2 Администрация Компании не несет ответственности за любые задержки и ошибки, возникшие не по вине Компании, в том числе за ошибки, вызванные сбоем в работе Операторов мобильной связи, биллингов и так далее.
            p 6.3 Администрация Компании также не несет ответственности за любой ущерб, причиненный в результате действий, находящихся вне контроля Компании, таких как война, бунт, забастовка, техногенные или природные катастрофы и т.д. 
            p 6.4 Прохождение процедуры регистрации не гарантирует, что идентификационные данные партнера соответствуют действительности, хоть вероятность этого велика. 
            p 6.5 За любые неправомочные действия, совершенные любым лицом посредством данных, относящихся к Партнеру, но без согласия на то Партнера, Компания ответственности не несет.
            p 6.6 В сферу компетенции Компании не входит решение вопросов, связанных с имущественными или не имущественными правами на Сервисы Партнера.
            p 6.7 Если отдельные положения настоящего соглашения полностью или частично теряют силу, действительность остальных положений остается в силе. Ставшее недействительным положение считается замененным другим, наиболее близким по смыслу и назначению. Это же действует и для возможных упущенных положений настоящего соглашения.
            p 6.8 После расторжения Соглашения компания не обязана хранить данные Партнера. 
            p
            b 7. Финансовые обязательства.
            p
            p 7.1 Администрация Компании не несет ответственности за выплаты, произведенные по неверным реквизитам кошельков, вызванных неправильным вводом реквизитов Партнером Компании.
            p 7.2 Компания вправе заблокировать и отозвать выплаты Партнерам за рефералов в случае, если последние нарушили правила настоящего соглашения.
            p 7.3 Компания обязуется осуществлять выплаты Партнерам за офферы 2 раза в месяц (16ого числа месяца за период с 1ого по 15 и 1ого числа месяца за период с 16ого числа и до конца месяца).
            p 7.4 Администрация оставляет за собой право заблокировать ваш счет Компании в случае обнаружения нарушений настоящего соглашения.
            p 7.5 Компания может, но не обязуется идти вам навстречу в вопросах касательно более ранних выплат. Компания оставляет за собой право не отзываться на ваши просьбы и действовать строго в рамках настоящего соглашения.
            p 7.6 Компания хранит истории выплат и обязуется предоставлять всю необходимую информацию, если по определенным причинам выплата не доходит до кошелька Партнера.
            p 7.7 Смена платежных реквизитов происходит только при уведомлении об этом Администрации в целях безопасности Партнеров.
            p
            b 8. Изменения настоящего соглашения.
            p
            p 8.1 Соглашение может изменяться и дополняться администрацией Компании без обязательного уведомления об этом Партнеров.
            p 8.2 Если Партнер не возражает в письменной форме против изменений в течении 3-х календарных дней с момента их публикации на сайте Компании, изменения для него вступают в юридическую силу.
            p 8.3 Если Партнер возражает против изменений, тогда они не считаются для него вступившими в силу. В этом случае обоюдное право на расторжение соглашения остается в силе и стороны вправе расторгнуть соглашение в не судебном порядке.
            p
            b 9. Форс-мажор.
            p
            p 9.1. Администрация и Партнеры Компании не несут ответственность за неисполнение обязательств данного Соглашения, которые вызваны обстоятельствами непреодолимой силы. К ним относятся стихийные бедствия, войны, акты регулирующей либо правительственной власти, взрывы, пожары, терроризм, гражданские волнения, бунты, хакерские атаки, сбои в работе поставщиков Интернет-услуг и электропитания, сетей связи и так далее.
            p
            b 10. Обработка персональных данных.
            p
            p 10.1 Принимая настоящее Соглашение, Партнеры Компании подтверждают тот факт, что их персональные данные будут обрабатываться сотрудниками Компании. Обработка затрагивает абсолютно все регистрационные данные, включая контактную информацию, электронную почту, платежные реквизиты и так далее.
            p 10.2 Если у вас есть сомнения по вопросу законности вашего трафика, вопросы или претензии по работе партнерской программы, обратитесь в службу поддержки Компании по средствам тикетов, либо на e-mail: <a href='mailto:support@richpays.com'> support@richpays.com </a>.
            p

            .text-center
              a.button.success.become.margin-b-20 Я принимаю условия сотрудничества

          a.close-reveal-modal &#215;

      p
        button.radius.expand name='commit' type='submit'
          svg.icon.small.icon-pencil viewBox='0 0 16 16'
            use xlink:href='#icon-pencil'
          | Зарегистрироваться и войти!
