table.unstyle
  tr
    td width='30%'
      strong' ID:
      strong = @id
      br
      span.light-color создание: #{ @created_at }
    td width='22%'
      ul.list.no-bullet.small-size
        - if @offers.length > 0
          - for offer in @offers
            li
              a.offer data-id=(offer.id) == offer.name
        - else
          li
            a - нет офферов -
    td width='21%'
      ul.list.no-bullet.small-size style='max-height:250px;overflow-y:auto'
        - if @countries.length > 0
          - for country in @countries
            li
              img' src=( country.image_url )
              span = country.name
        - else
          li Регионы не указаны
    td colspan='2'
      /ul.list.no-bullet.small-size.hide
      /  li
      /    strong За вчера:
      /    br
      /    = @daily_increment
      /  li
      /    strong За прошлый месяц:
      /    br
      /    = @monthly_increment
      /  li
      /    strong За все время:
      /    br
      /    = @all_time_increment
      /  li
      /    strong CR:
      /    = @cr
      /  li
      /    strong EPC:
      /    = @epc
