.title.text-center
  h2 Как работает JavaScript-код?
.row
  .medium-6.columns
    img.thb alt='' src='./assets/browser-jsredirect.jpg' 
  .medium-6.columns
    ul.punkt.no-bullet
      li
        strong 1
        | Разместите скрипт редиректа на вашем сайте до тэга &lt;/body&gt;
      li
        strong 2
        | Посетитель переходит на AppStore или Google Play с приложением
      li
        strong 3
        | Совершает установку и открывает приложение
      li
        strong 4
        | Вы получаете денежное вознаграждение
.row.margin-t-40.margin-b-0
  .medium-12.columns
    p.small-size.margin-b-0 В случае возникновения вопросов обратитесь к личному менеджеру, его контакты указаны в разделе “Панель” на плитке “Мой менеджер”
