body .primary-bg {
  background-color: #01a1ec;
}
body .primary-light-bg {
  background-color: #f2fbff;
}
body .secondary-bg {
  background-color: #eaeaea;
}
body .alert-bg {
  background-color: #f04124;
}
body .success-bg {
  background-color: #2ed54d;
}
body .success-light-bg {
  background-color: #e9ffed;
}
body .warning-bg {
  background-color: #ff9a2e;
}
body .info-bg {
  background-color: #87a1b2;
}
body .light-bg {
  background-color: #aeaeae;
}
body .xlight-bg {
  background-color: #e1e1e1;
}

body .radius-2 {
  -moz-border-radius: 0.14286rem;
  -webkit-border-radius: 0.14286rem;
  border-radius: 0.14286rem;
}
body .radius-4 {
  -moz-border-radius: 0.28571rem;
  -webkit-border-radius: 0.28571rem;
  border-radius: 0.28571rem;
}