.jms-slideshow {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-width: 640px;
  margin: 20px auto;
  height: 460px;
}
.jms-wrapper {
  width: auto;
  min-width: 600px;
  height: 440px;
  background-color: #fff;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  outline: none;
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear;
}
.huep {
    height: 420px;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.huep:not(.active) {
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content{
  margin: 0;
  position: relative;
  clear: both;
}

a.jms-link{
  color: #fff;
  text-transform: uppercase;
  background: #969696; /* Старые браузеры */
  background: -moz-linear-gradient(top, #969696 0%, #727272 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#727272)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #969696 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #969696 0%,#727272 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #969696 0%,#727272 100%); /* IE10+ */
  background: linear-gradient(top, #969696 0%,#727272 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
  padding: 8px 15px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #444;
  border-radius: 4px;
  opacity: 1;
  margin-top: 40px;
  clear: both;
  -webkit-transition: all 0.4s ease-in-out 1s;
  -moz-transition: all 0.4s ease-in-out 1s;
  -ms-transition: all 0.4s ease-in-out 1s;
  -o-transition: all 0.4s ease-in-out 1s;
  transition: all 0.4s ease-in-out 1s;
}
.huep:not(.active) a.jms-link{
  opacity: 0;
  margin-top: 80px;
}

/* Стили для сообщения об отсутствии поддержки */
.jms-wrapper.not-supported{
  background-color: #E3D8FF;
}
.jms-wrapper.not-supported:after{
  content: 'Слайдшоу не поддерживается в вашем браузере.';
  padding: 0px 0px 30px 0px;
  text-align: center;
  display: block;
}
.jms-wrapper.not-supported .huep{
  display: none;
  position: relative;
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
  margin: 20px auto;
}
.jms-wrapper.not-supported .huep:first-of-type{
  display: block;
}
.jms-wrapper.not-supported .huep:not(.active) a.jms-link{
  opacity: 1;
  margin-top: 40px;
}
