@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);
// 1.GLOBAL###############################################################################
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body{
  height: 100%;
  h1,h2,h3{
      margin-bottom: rem-calc(30);
    }
    h4,h5,h6{
      margin-bottom: rem-calc(20);
    }
  // 1.1.Font style-----------------------------------------------------------------------
  .style-normal{
    font-style: normal !important;
  }
  .style-italic{
    font-style: italic !important;
  }
  .style-oblique{
    font-style: oblique !important;
  }
  // 1.2.Font weight----------------------------------------------------------------------
  .weight-light{
    font-weight: $font-weight-light !important;
  }
  .weight-normal{
    font-weight: $font-weight-normal !important;
  }
  .weight-semibold{
    font-weight: $font-weight-semibold !important;
  }
  .weight-bold{
    font-weight: $font-weight-bold !important;
  }
  .weight-extrabold{
    font-weight: $font-weight-extrabold !important;
  }
  // 1.3.Font-Size------------------------------------------------------------------------
  .tiny-size{
    font-size: $h6-font-size !important;
  }
  .small-size{
    font-size: $h5-font-size !important;
  }
  .medium-size{
    font-size: $h4-font-size !important;
  }
  .xmedium-size{
    font-size: $h4-font-size+rem-calc(2) !important;
  }
  .large-size{
    font-size: $h3-font-size !important;
  }
  .xlarge-size{
    font-size: $h2-font-size !important;
  }
  .xxlarge-size{
    font-size: $h1-font-size !important;
  }
  // 1.4.Colors---------------------------------------------------------------------------
  .primary-color {
    color: $primary-color;
  }
  .secondary-color {
    color: $secondary-color;
  }
  .alert-color {
    color: $alert-color;
  }
  .success-color {
    color: $success-color;
  }
  .warning-color {
    color: $warning-color;
  }
  .info-color {
    color: #87a1b2;
  }
  .light-color {
    color: $light-color;
  }
  .xlight-color {
    color: $extra-light-color;
  }
  .notes-counter-color {
    background-color: #88d9fe;
    color: #484848
  }
  // 1.5.Margin---------------------------------------------------------------------------
  .margin-0{
    margin: 0 !important;
  }
  .margin-5{
    margin: rem-calc(5) !important;
  }
  .margin-10{
    margin: rem-calc(10) !important;
  }
  .margin-15{
    margin: rem-calc(15) !important;
  }
  .margin-20{
    margin: rem-calc(20) !important;
  }
  .margin-25{
    margin: rem-calc(25) !important;
  }
  .margin-30{
    margin: rem-calc(30) !important;
  }
  .margin-35{
    margin: rem-calc(35) !important;
  }
  .margin-40{
    margin: rem-calc(40) !important;
  }
  .margin-45{
    margin: rem-calc(45) !important;
  }
  .margin-50{
    margin: rem-calc(50) !important;
  }
  .margin-55{
    margin: rem-calc(55) !important;
  }
  .margin-60{
    margin: rem-calc(60) !important;
  }
  //top
  .margin-t-0{
    margin-top: 0 !important;
  }
  .margin-t-5{
    margin-top: rem-calc(5) !important;
  }
  .margin-t-10{
    margin-top: rem-calc(10) !important;
  }
  .margin-t-15{
    margin-top: rem-calc(15) !important;
  }
  .margin-t-20{
    margin-top: rem-calc(20) !important;
  }
  .margin-t-25{
    margin-top: rem-calc(25) !important;
  }
  .margin-t-30{
    margin-top: rem-calc(30) !important;
  }
  .margin-t-35{
    margin-top: rem-calc(35) !important;
  }
  .margin-t-40{
    margin-top: rem-calc(40) !important;
  }
  .margin-t-45{
    margin-top: rem-calc(45) !important;
  }
  .margin-t-50{
    margin-top: rem-calc(50) !important;
  }
  .margin-t-55{
    margin-top: rem-calc(55) !important;
  }
  .margin-t-60{
    margin-top: rem-calc(60) !important;
  }
  //right
  .margin-r-0{
    margin-right: 0 !important;
  }
  .margin-r-5{
    margin-right: rem-calc(5) !important;
  }
  .margin-r-10{
    margin-right: rem-calc(10) !important;
  }
  .margin-r-15{
    margin-right: rem-calc(15) !important;
  }
  .margin-r-20{
    margin-right: rem-calc(20) !important;
  }
  .margin-r-25{
    margin-right: rem-calc(25) !important;
  }
  .margin-r-30{
    margin-right: rem-calc(30) !important;
  }
  .margin-r-35{
    margin-right: rem-calc(35) !important;
  }
  .margin-r-40{
    margin-right: rem-calc(40) !important;
  }
  .margin-r-45{
    margin-right: rem-calc(45) !important;
  }
  .margin-r-50{
    margin-right: rem-calc(50) !important;
  }
  .margin-r-55{
    margin-right: rem-calc(55) !important;
  }
  .margin-r-60{
    margin-right: rem-calc(60) !important;
  }
  //bottom
  .margin-b-0{
    margin-bottom: 0 !important;
  }
  .margin-b-5{
    margin-bottom: rem-calc(5) !important;
  }
  .margin-b-10{
    margin-bottom: rem-calc(10) !important;
  }
  .margin-b-15{
    margin-bottom: rem-calc(15) !important;
  }  
  .margin-b-20{
    margin-bottom: rem-calc(20) !important;
  }
  .margin-b-25{
    margin-bottom: rem-calc(25) !important;
  }
  .margin-b-30{
    margin-bottom: rem-calc(30) !important;
  }
  .margin-b-35{
    margin-bottom: rem-calc(35) !important;
  }
  .margin-b-40{
    margin-bottom: rem-calc(40) !important;
  }
  .margin-b-45{
    margin-bottom: rem-calc(45) !important;
  }
  .margin-b-50{
    margin-bottom: rem-calc(50) !important;
  }
  .margin-b-55{
    margin-bottom: rem-calc(55) !important;
  }
  .margin-b-60{
    margin-bottom: rem-calc(60) !important;
  }
  //left
  .margin-l-0{
    margin-left: 0 !important;
  }
  .margin-l-5{
    margin-left: rem-calc(5) !important;
  }
  .margin-l-10{
    margin-left: rem-calc(10) !important;
  }
  .margin-l-15{
    margin-left: rem-calc(15) !important;
  }
  .margin-l-20{
    margin-left: rem-calc(20) !important;
  }
  .margin-l-25{
    margin-left: rem-calc(25) !important;
  }
  .margin-l-30{
    margin-left: rem-calc(30) !important;
  }
  .margin-l-35{
    margin-left: rem-calc(35) !important;
  }
  .margin-l-40{
    margin-left: rem-calc(40) !important;
  }
  .margin-l-45{
    margin-left: rem-calc(45) !important;
  }
  .margin-l-50{
    margin-left: rem-calc(50) !important;
  }
  .margin-l-55{
    margin-left: rem-calc(55) !important;
  }
  .margin-l-60{
    margin-left: rem-calc(60) !important;
  }
  // 1.6.Padding--------------------------------------------------------------------------
  .padding-0{
    padding: 0 !important;
  }
  .padding-10{
    padding: rem-calc(10) !important;
  }
  .padding-20{
    padding: rem-calc(20) !important;
  }
  .padding-30{
    padding: rem-calc(30) !important;
  }
  .padding-40{
    padding: rem-calc(40) !important;
  }
  //top
  .padding-t-0{
    padding-top: 0 !important;
  }
   .padding-t-5{
    padding-top: rem-calc(5) !important;
  } 
  .padding-t-10{
    padding-top: rem-calc(10) !important;
  }
  .padding-t-20{
    padding-top: rem-calc(20) !important;
  }
  .padding-t-30{
    padding-top: rem-calc(30) !important;
  }
  .padding-t-40{
    padding-top: rem-calc(40) !important;
  }
  //right
  .padding-r-0{
    padding-right: 0 !important;
  }
  .padding-r-10{
    padding-right: rem-calc(10) !important;
  }
  .padding-r-20{
    padding-right: rem-calc(20) !important;
  }
  .padding-r-30{
    padding-right: rem-calc(30) !important;
  }
  .padding-r-40{
    padding-right: rem-calc(40) !important;
  }
  //bottom
  .padding-b-0{
    padding-bottom: 0 !important;
  }
  .padding-b-10{
    padding-bottom: rem-calc(10) !important;
  }
  .padding-b-15{
    padding-bottom: rem-calc(15) !important;
  }
  .padding-b-20{
    padding-bottom: rem-calc(20) !important;
  }
  .padding-b-30{
    padding-bottom: rem-calc(30) !important;
  }
  .padding-b-40{
    padding-bottom: rem-calc(40) !important;
  }
  //left
  .padding-l-0{
    padding-left: 0 !important;
  }
  .padding-l-10{
    padding-left: rem-calc(10) !important;
  }
  .padding-l-20{
    padding-left: rem-calc(20) !important;
  }
  .padding-l-30{
    padding-left: rem-calc(30) !important;
  }
  .padding-l-40{
    padding-left: rem-calc(40) !important;
  }
  // 1.7.Width----------------------------------------------------------------------------
  .width-50{
    width: rem-calc(50) !important;
  }
  .width-100{
    width: rem-calc(100) !important;
  }
  .width-150{
    width: rem-calc(150) !important;
  }
  .width-200{
    width: rem-calc(200) !important;
  }
  .width-250{
    width: rem-calc(250) !important;
  }
  .width-300{
    width: rem-calc(300) !important;
  }
  // 1.7.1.Size----------------------------------------------------------------------------
  .x-10{
    width: rem-calc(10) !important;
    height: rem-calc(10) !important;
  }
  .x-20{
    width: rem-calc(20) !important;
    height: rem-calc(20) !important;
  }
  .x-30{
    width: rem-calc(30) !important;
    height: rem-calc(30) !important;
  }
  .x-40{
    width: rem-calc(40) !important;
    height: rem-calc(40) !important;
  }
  .x-50{
    width: rem-calc(50) !important;
    height: rem-calc(50) !important;
  }
  .x-60{
    width: rem-calc(60) !important;
    height: rem-calc(60) !important;
  }
  .x-70{
    width: rem-calc(70) !important;
    height: rem-calc(70) !important;
  }
  .x-80{
    width: rem-calc(80) !important;
    height: rem-calc(80) !important;
  }
  .x-90{
    width: rem-calc(90) !important;
    height: rem-calc(90) !important;
  }
  .x-100{
    width: rem-calc(100) !important;
    height: rem-calc(100) !important;
  }
  // 1.7.2.Border---------------------------------------------------------------------------
  .bd-0{
    border-width: 0 !important;
  }
  .bd-1{
    border-width: rem-calc(1) !important;
  }
  .bd-2{
    border-width: rem-calc(2) !important;
  }
  .bd-3{
    border-width: rem-calc(3) !important;
  }
  .bd-4{
    border-width: rem-calc(4) !important;
  }
  .bd-5{
    border-width: rem-calc(5) !important;
  }
  // 1.8.Opacity--------------------------------------------------------------------------
  .opacity{
    @include transparent;
  }
  .opacity-10{
    @include opacity(0.1);
  }
  .opacity-20{
    @include opacity(0.2);
  }
  .opacity-30{
    @include opacity(0.3);
  }
  .opacity-40{
    @include opacity(0.4);
  }
  .opacity-50{
    @include opacity(0.5);
  }
  .opacity-60{
    @include opacity(0.6);
  }
  .opacity-70{
    @include opacity(0.7);
  }
  .opacity-80{
    @include opacity(0.8);
  }
  .opacity-90{
    @include opacity(0.9);
  }
  .opaque{
    @include opaque;
  }
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  // 1.9.Line height----------------------------------------------------------------------
  .line-12{
    line-height: 1.2 !important;
  }
  .line-14{
    line-height: 1.4 !important;
  }
  .line-16{
    line-height: 1.6 !important;
  }
  // 1.9.Radius----------------------------------------------------------------------
  .radius-2{
    @include border-radius(rem-calc(2));
  }
  .radius-4{
    @include border-radius(rem-calc(4));
  }
  .radius-6{
    @include border-radius(rem-calc(6));
  }
  .radius-8{
    @include border-radius(rem-calc(8));
  }
  .radius-10{
    @include border-radius(rem-calc(10));
  }
  .radius-15{
    @include border-radius(rem-calc(15));
  }
// 2.BASIC################################################################################

  .clear{
    @include clearfix();
  }
  .inline{
    margin: 0 rem-calc(10) 0 0;
    display: inline-block !important;
    &.small-size{
      padding: rem-calc(3) 0;
    }
  }
  .inline-list{
    overflow: inherit !important;
  }

  .right,.left{
    position: relative;
    z-index: 1;
  }
  .th{
    @include box-shadow(0 1px 1px 0 rgba(#000,.2));
  }
  .thb{
    @include box-shadow(0 rem-calc(3) rem-calc(10) rgba(0, 0, 0, 0.3))
  }


  .hr{
    background: $extra-light-color;
    height: rem-calc(1);
    margin: rem-calc(25) 0 rem-calc(15);
  }

  .label{
    @include single-transition();
    &.add{
      background-color: $action-color;
      &:hover{
        background-color: darken($action-color,10%);
      }
    }
  }
  .u{
    text-decoration: underline
  }
  .i{
    font-style: italic;
  }

  .dropdown{
    @include box-shadow(0 rem-calc(1) rem-calc(2) rgba(0, 0, 0, 0.1));
  }
  // 2.1.Forms----------------------------------------------------------------------------
  input,textarea,select{
    color: $light-color !important;
    font-size: rem-calc(13);
    font-weight: 300;
    @include border-radius(rem-calc(4) !important);
    margin-bottom: 0;
    &:focus{
      color: $body-font-color !important;
    }
    &.bg-opacity{
      color: $primary-color;
      background-color: transparent;
      border:  rem-calc(1) solid $primary-color;
      &:focus{
        color: $primary-color;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: rem-calc(10) 50%;
        background-size: rem-calc(12);
        border:  rem-calc(1) solid $primary-color;
      }
    }
  }

  .input-bg{
    position: relative;
    .icon{
      position: absolute;
      top: 50%;
      left: 0;
      width: rem-calc(12); 
      height: rem-calc(12);
      margin: rem-calc(-6) 0 0 rem-calc(10);
    }
    input{
      padding-left: rem-calc(30);  
    }
  }

  input[type=checkbox],input[type=radio]{
    margin-right: rem-calc(5);
  }

  textarea{
    height: rem-calc(80);
    white-space: pre;
  }
  select{
    padding: 0 rem-calc(10);
    &.small{
      padding: 0 rem-calc(10) / 2;
      height: ($input-font-size + (rem-calc(10) * 1.5) - rem-calc(1));
    }
  }
  label{
    font-weight: $font-weight-normal;
    margin-bottom: rem-calc(20);
  }
  //Clear-input
  .clear-input{
    position: relative;
    input{
      padding-right: rem-calc(30);
    }
    .reset{
      position: absolute;
      top: rem-calc(9);
      right: rem-calc(10);
      z-index: 1;
    }
  }

  //Show/hide Pass
  .show-hide-pass{
    position: relative;
    .switch{
      color: $light-color;
      position: absolute;
      top: rem-calc(9);
      right: rem-calc(10);
      display: block;
      width: rem-calc(14);
      height: rem-calc(14);
      z-index: 1;
      &.active{
        color: $primary-color;
      }
    }
  }
  .drop-contacts{
    position: relative;
    margin-bottom: rem-calc(20);
    &.active{
      .parent-contact{
        input{
          @include border-radius(rem-calc(4) rem-calc(4) 0 0 !important);
        }
      }
      ul li{
        &:last-child{
          input{
            @include border-radius(0 0 rem-calc(4) rem-calc(4) !important);
          }
        }
        input{
          @include border-radius(0 !important);
        }
      }
    }
    ul{
      position: absolute;
      top: rem-calc(35);
      left: 0;
      width: 100%;
      z-index: 5;
      display: none;
      li{
        background: transparent !important;
        margin: 0;
        padding: 0;
        input{
          margin-bottom: 0;
          &:hover{
            background: lighten(#203a41,5%) !important;
          }
        }
      }
    }
  }

  //Switches
  div.switch{
    input:checked + label{
      background: $action-color;
      border-color: darken($action-color,5%);
    }
    label{
      border: 1px solid $extra-light-color;
      &::after{
        border: 1px solid $extra-light-color;
        width: $switch-height-med + 0.3rem; height: $switch-height-med + 0.3rem;
        @include box-shadow(0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.1));
      }
    }
  }
  .check{
    font-size: $h5-font-size;
    color: $light-color;
  }
  //Check-button
  .check-button{
    input{
      display: none;
      &:checked+label{
        color: #fff;
        background: $primary-color;
        &:hover{
          color: #fff;
          background: scale-color($primary-color, $lightness: $button-function-factor);
        }
      }
    }
    label{
      margin: 0;
    }
  }

  .sh{
    &.active{
      color: $body-font-color;
    }
  }
  .sh-content{
    display: none;
  }
  // 2.1.Tables---------------------------------------------------------------------------
  table{
    font-weight: $font-weight-light;
    width: 100%;
    &.unstyle{
      margin: 0;
      tbody td{
        border-bottom: none;
      }
    }
    &.shadow{
      @include box-shadow(0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.2));
    }
    &.text-center{
      td,th{
        text-align: center;
      }
    }
    &.text-right{
      td,th{
        text-align: right !important;
      }
    }
    &.align-middle{
      td,th{
        vertical-align: middle;
      }
    }
    td{
      vertical-align: top;
    }
    thead{
      border-bottom: rem-calc(2) solid darken($table-head-bg,10%);
    }
    thead,tfoot{
      .medium-size{
        td,th{
          font-size: rem-calc(14);
        }
      }
      td,th{
        border-right: rem-calc(1) solid darken($table-head-bg,10%);
        border-bottom: rem-calc(1) solid darken($table-head-bg,10%);
        background: $table-head-bg;
        &.bg-success{
          background: lighten($success-color,45%);
          color: $success-color;
        }
        &.bg-info{
          background: lighten($info-color,20%);
          color: $primary-color;
        }
        &.bg-primary{
          background: lighten($primary-color,5%);
          color: $primary-color;
        }
        &.bg-warning{
          background: lighten($warning-color,35%);
          color: $warning-color;
        }
        &.bg-light{
          background: $extra-light-color;
          color: lighten($body-font-color,20%);
        }
      }
    }
    tbody{
      td{
        border-right: rem-calc(1) solid darken($table-even-row-bg,10%);
      }
    }
    tfoot{
      background: $table-head-bg;
      td{
        color: $body-font-color !important;
        font-weight: $font-weight-semibold !important;
        border-bottom: none;
      }
    }
  }
  .scroll-wrapper{
    min-height: 440px;
  }
  .scroll-table{
    min-height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin: 0 rem-calc(15);
  }
  // 3.5.Table vertical lines
  table.vertical-lines{
    border: none;
    thead th{
      color: $light-color;
      font-weight: 400;
    }
    tr,th,thead{
      background: transparent;
      border-bottom: none;
    }
    td,th{
      border-right: solid rem-calc(1) $extra-light-color;
      border-bottom: none;
      font-size: rem-calc(13);
      padding: rem-calc(10) rem-calc(20);
      &:last-child{
        border-right: none;
        padding-right: 0;
      }
      &:first-child{
        padding-left: 0;
      }
    }
  }
  // 3.6.Table horizontal lines
  table.horizontal-lines{
    border: none;
    thead{
      border-bottom: none;
      &.bg{
        background: lighten($extra-light-color,5%);
        th{
          color: $body-font-color;
          &:first-child{
            padding-left: rem-calc(20);
          }
        }
      }
      th{
        color: $light-color;
        font-weight: 400;
      }
    }
    tr,th,thead{
      background: transparent;
    }
    td,th{
      border-right: none;
      border-bottom: solid rem-calc(1) $extra-light-color;
      font-size: rem-calc(13);
      padding: rem-calc(10) 0;
    }
  }
  // 3.7.Table lines
  table.lines{
    border: none;
    tr,th,thead{
      background: transparent;
    }
    thead{
      border-bottom: none;
    }
    thead th{
      color: $light-color;
      font-weight: 400;
    }
    tr{
      td,th{
        border-bottom: solid rem-calc(1) $extra-light-color;
        border-right: solid rem-calc(1) $extra-light-color;
        font-size: rem-calc(13);
        padding: rem-calc(10);
        &:last-child{
          border-right: none;
        }
        &.bg-success{
          background: lighten($success-color,45%);
          color: $success-color;
        }
        &.bg-info{
          background: lighten($info-color,20%);
          color: $primary-color;
        }
        &.bg-primary{
          background: lighten($extra-light-color,10%);
          color: $body-font-color;
        }
        &.bg-warning{
          background: lighten($warning-color,35%);
          color: $warning-color;
        }
        &.bg-light{
          background: $extra-light-color;
          color: lighten($body-font-color,20%);
        }
      }
    }
  }
  @mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
  }
  @mixin border-opacity($color, $opacity: 0.3) {
    border-color: $color; /* The Fallback */
    border-color: rgba($color, $opacity);
  }
  // 2.1.Alert box------------------------------------------------------------------------
  .alerts{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
    padding: rem-calc(30);
  }

  .alert-box{
    z-index: 99999;
    text-align: center;
    width: rem-calc(250);
    color: whiten($primary-color,33%);
    $primary-border-color: scale-color($primary-color, $lightness: $alert-function-factor);
    @include background-opacity($primary-color, 0.75);
    @include border-opacity($primary-border-color, 0.25);
    &.action{
      color: whiten($action-color,33%);
      $action-border-color: scale-color($action-color, $lightness: $alert-function-factor);
      @include background-opacity($action-color, 0.75);
      @include border-opacity($action-border-color, 0.25);
    }
    &.alert{
      color: whiten($alert-color,33%);
      $alert-border-color: scale-color($alert-color, $lightness: $alert-function-factor);
      @include background-opacity($alert-color, 0.75);
      @include border-opacity($alert-border-color, 0.25);
    }
    &.info{
      $info-border-color: scale-color($primary-color, $lightness: $alert-function-factor);
      @include background-opacity($info-color, 0.75);
      @include border-opacity($info-border-color, 0.25);
    }
    &.primary{
      color: whiten($primary-color,33%);
      $primary-border-color: scale-color($primary-color, $lightness: $alert-function-factor);
      @include background-opacity($primary-color, 0.75);
      @include border-opacity($primary-border-color, 0.25);
    }
    &.success{
      color: whiten($success-color,33%);
      $success-border-color: scale-color($success-color, $lightness: $alert-function-factor);
      @include background-opacity($success-color, 0.75);
      @include border-opacity($success-border-color, 0.25);
    }
    &.secondary{
      $secondary-border-color: scale-color($secondary-color, $lightness: $alert-function-factor);
      @include background-opacity($secondary-color, 0.75);
      @include border-opacity($secondary-border-color, 0.25);
    }
    &.warning{
      color: whiten($warning-color,33%);
      $warning-border-color: scale-color($warning-color, $lightness: $alert-function-factor);
      @include background-opacity($warning-color, 0.75);
      @include border-opacity($warning-border-color, 0.25);
    }
    .close{
      background: $primary-color;
      font-size: rem-calc(16);
      font-weight: $font-weight-normal;
      @include border-radius($global-rounded);
      width: rem-calc(20);
      height: rem-calc(20);
      padding: rem-calc(10) 0 0 0;
      text-align: center;
      top: rem-calc(0);
      right: rem-calc(-10);
      &:hover{
        @include opacity(0.9);
      }

    }
  }
  // 1.4.List-----------------------------------------------------------------------------
  .list{
    &.faq-bullets{
      li{
        list-style: none inside;
        position: relative;
        padding-left: rem-calc(25);
        &::after{
          position: absolute;
          top: rem-calc(5);
          left: 0;
          content: '';
          display: block;
          width: rem-calc(10);
          height: rem-calc(10);
          background: $primary-color;
          @include border-radius($global-rounded);
        }
        &.secondary::after{
          background: $secondary-color;
        }
      }
    }

    li{
      color: $body-font-color;
      margin-bottom: rem-calc(10);
    }
  }

  .list-dotted{
    border-bottom: rem-calc(1) dotted $light-color;
    margin-bottom: rem-calc(10);
    li{
      padding: 0 0 rem-calc(10) 0;
    }
  }
  .nlr-padding{
    li{
      padding: 0 0 rem-calc(10) 0 ;
      margin-bottom: rem-calc(10);
    }
  }

  // base color
  .punkt{
    li{
      padding-left: rem-calc(55);
      margin-bottom: rem-calc(15);
      position: relative;
      min-height: rem-calc(40);
      vertical-align: middle;
      @for $i from 1 through 5 {
        &:nth-last-child(#{$i}) strong {
          background-color: lighten($primary-color,5*$i);
        }
      }
      strong{
        color: #fff;
        background: $primary-color;
        font-size:rem-calc(16);
        font-weight: $font-weight-bold;
        width: rem-calc(36);
        height: rem-calc(36);
        position: absolute;
        display: inline-block;
        text-align: center;
        padding-top: rem-calc(6);
        top: 0;
        left: 0;
        @include border-radius($global-rounded);
      }
    }
  }
  .dot-bullets{
    list-style: none inside;
    margin: 0;
    padding: 0;
    li{
      font-size: rem-calc(17);
      font-weight: $font-weight-light;
      position: relative;
      padding-left: rem-calc(20);
      margin-bottom: rem-calc(20);
      &::after{
        content:'';
        position: absolute;
        top: rem-calc(10);
        left: 0;
        background: $primary-color;
        width: rem-calc(8);
        height: rem-calc(8);
        @include border-radius($global-rounded);
        @include box-shadow(inset 0 rem-calc(1) rgba(0, 0, 0, 0.2));
      }

    }

  }

  // 1.4.Button group-----------------------------------------------------------------------
  .button-group{
    &.radius{
      li{
        &:first-child{
          label{
            @include border-radius($global-radius 0 0 $global-radius);
          }
        }
        &:last-child{
          label{
            @include border-radius(0 $global-radius  $global-radius 0);
          }
        }
      }
    }
    &.small{
      .button{
        font-size: $button-font-sml;
        padding: rem-calc(5 12);
      }
    }
    .button{
      border-color: rgba(0,0,0,0.1) !important;
    }
    .tab-title{
      .button{
        color: $body-font-color;
        background-color: $secondary-color;
        border-bottom-color: darken($secondary-color,10%);
      }
      &.active{
        .button{
          color: #fff;
          background-color: $primary-color;
          border-bottom: rem-calc(1) solid darken($primary-color,10%);
        }
      }
    }
  }

  // 1.4.Buttons----------------------------------------------------------------------------
  .button{
    margin: 0;
    background-color: $primary-color;
    padding: $button-med rem-calc(30);
    border-bottom: rem-calc(1) solid darken($primary-color,10%);
    &.bg-opacity{
      color: $primary-color;
      background-color: transparent;
      border: rem-calc(1) solid $primary-color;
      &:hover{
        color: lighten($primary-color,10%);
        @include background-opacity($primary-color, 0.05);
        border-color: lighten($primary-color,10%);
      }
    }
    &.caret{
      position: relative;
      &::after{
        content: '';
        width: rem-calc(6);
        height: rem-calc(6);
        position: absolute;
        top: 50%;
        right: rem-calc(6);
        margin-top: rem-calc(-3);
        background: image-url('caret-down.svg') no-repeat;
        background-size: rem-calc(6);
      }
    }
    //padding
    &.tiny,&.tiny-padding{
      padding: $button-tny rem-calc(10);
    }
    &.small,&.small-padding{
      padding: $button-sml rem-calc(15);
    }
    &.medium,&.medium-padding{
      padding: $button-med rem-calc(30);
    }
    &.large,&.large-padding{
      padding: $button-lrg rem-calc(30);
    }
    //size
    &.icon-width{
      width: rem-calc(25);
      padding-left: 0;
      padding-right: 0;
    }
    &.tiny-width{
      width: rem-calc(50);
      padding-left: 0;
      padding-right: 0;
    }
    &.small-width{
      width: rem-calc(100);
      padding-left: 0;
      padding-right: 0;
    }
    &.medium-width{
      width: rem-calc(150);
      padding-left: 0;
      padding-right: 0;
    }
    &.large-width{
      width: rem-calc(200);
      padding-left: 0;
      padding-right: 0;
    }
    &.border-bold{
      border-width: rem-calc(2) !important;
      @include border-radius($global-radius+2);
    }
    //colors
    &.action{
      background-color: $action-color;
      border-bottom-color: darken($action-color,10%);
      &:hover{
        background-color: scale-color($action-color, $lightness: $button-function-factor);
      }
    }
    &.alert{
      background-color: $alert-color;
      border-bottom-color: darken($alert-color,10%);
      &:hover{
        background-color: scale-color($alert-color, $lightness: $button-function-factor);
      }
    }
    &.alert-light{
      background-color: #f99999;
      border-bottom-color: darken(#f99999,10%);
      &:hover{
        background-color: scale-color(#f99999, $lightness: $button-function-factor);
      }
    }
    &.primary{
      background-color: $primary-color;
      border-bottom-color: darken($primary-color,10%);
      &:hover{
        background-color: scale-color($primary-color, $lightness: $button-function-factor);
      }
    }
    &.success{
      background-color: $success-color;
      border-bottom-color: darken($success-color,10%);
      &:hover{
        background-color: scale-color($success-color, $lightness: $button-function-factor);
      }
    }
    &.info{
      background-color: $info-color;
      border-bottom-color: darken($info-color,10%);
      &:hover{
        background-color: scale-color($info-color, $lightness: $button-function-factor);
      }
    }
    &.secondary{
      background-color: $secondary-color;
      border-bottom-color: darken($secondary-color,10%);
      &:hover{
        background-color: scale-color($secondary-color, $lightness: $button-function-factor);
      }
    }
    &.warning{
      background-color: $warning-color;
      border-bottom-color: darken($warning-color,10%);
    }
    &.light{
      background-color: #d4dce5;
      border-top: solid rem-calc(1) darken(#d4dce5,5%);
      border-bottom: none;
      text-shadow: rgba(0,0,0,0.9) 0 rem-calc(1) rem-calc(1);
      &:hover{
        background-color: darken(#d4dce5,10%);
      }
    }
    &.apple-btn{
      @include background-image(linear-gradient(bottom, #0999d5, lighten(#76cad9,5%)));
      border-bottom: none;
    }
    &.gplay-btn{
      @include background-image(linear-gradient(bottom, #353535, lighten(#353535,10%)));
      border-bottom: none;
    }
    &.reg{
      border: none;
      font-size: rem-calc(22);
      font-weight: $font-weight-light;
      padding: rem-calc(14) rem-calc(40);
      height: rem-calc(60);
      text-shadow: rgba(#000,.3) rem-calc(1) rem-calc(1);
      display: inline-block;
      @include background-image(linear-gradient(bottom, #6fa328, #7fbb3b));
      @include single-transition();
      &:hover{
        @include background-image(linear-gradient(bottom, darken(#6fa328,5%), darken(#7fbb3b,5%)));
      }
      .icon{
        width: rem-calc(26);
        height: rem-calc(26);
        background-size: rem-calc(26);
        margin-right: rem-calc(10);
      }
    }
    &.reg-transparent{
      color: #fff;
      border: 3px solid #fff;
      font-size: rem-calc(22);
      font-weight: $font-weight-light;
      padding: rem-calc(14) rem-calc(60);
      min-height: rem-calc(67);
      text-shadow: rgba(#000,.3) 0 rem-calc(1) rem-calc(2);
      display: inline-block;
      background: transparent;
      @include single-transition();
      @include border-radius($global-radius+2);
      &:hover{
        background: rgba(#fff,.2);
      }
      .icon{
        width: rem-calc(26);
        height: rem-calc(26);
        background-size: rem-calc(26);
        margin-right: rem-calc(10);
      }
    }
  }
  // 1.5.Icons------------------------------------------------------------------------------
  .icon{
    width: rem-calc(16);
    height: rem-calc(16);
    display: inline-block;
    background: no-repeat;
    position: relative;
    top: rem-calc(-1);
    margin-right: rem-calc(5);
    vertical-align: middle;
    fill: currentColor;
    //align
    &.i-right{
      margin-right: 0;
      margin-left: rem-calc(5);
    }
    //size
    &.xtiny{
      width: rem-calc(10) !important;
      height: rem-calc(10) !important;
      background-size: rem-calc(10) !important;
    }
    &.tiny{
      width: rem-calc(12) !important;
      height: rem-calc(12) !important;
      background-size: rem-calc(12) !important;
    }
    &.small{
      width: rem-calc(13) !important;
      height: rem-calc(13) !important;
      background-size: rem-calc(13) !important;
    }
    &.medium{
      width: rem-calc(14) !important;
      height: rem-calc(14) !important;
      background-size: rem-calc(14) !important;
    }
    &.xmedium{
      width: rem-calc(16) !important;
      height: rem-calc(16) !important;
      background-size: rem-calc(16) !important;
    }
    &.xxmedium{
      width: rem-calc(18) !important;
      height: rem-calc(18) !important;
      background-size: rem-calc(18) !important;
    }
    &.large{
      width: rem-calc(22) !important;
      height: rem-calc(22) !important;
      background-size: rem-calc(22) !important;
    }
    &.large-24{
      width: rem-calc(24) !important;
      height: rem-calc(24) !important;
      background-size: rem-calc(24) !important;
    }
    &.xlarge{
      width: rem-calc(32) !important;
      height: rem-calc(32) !important;
      background-size: rem-calc(32) !important;
    }
    &.xxlarge{
      width: rem-calc(48) !important;
      height: rem-calc(48) !important;
      background-size: rem-calc(48) !important;
    }
    &.icon-tag-promo{
      width: rem-calc(56);
      height: rem-calc(11);
      margin: 0;
    }
    //tooltip icons
    &.has-tip{
      top: 0;
      width: rem-calc(15);
      height: rem-calc(15);
      color: #fff;
      background: #b6dcee no-repeat;
      margin: 0;
      vertical-align: super;
      cursor: $cursor-pointer-value;
      color: auto !important;
      @include border-radius($global-rounded);
      @include single-transition();
      &:hover{
        background: darken(#b6dcee,10%) no-repeat;
      }
      &.middle{
        vertical-align: middle;
      }
      &.info{
        background-image: image-url('tt-info.svg');
      }
      &.world{
        background-image: image-url('tt-world.svg');
      }
      &.money{
        background-image: image-url('tt-money.svg');
      }
      &.faq{
        background-image: image-url('tt-faq.svg');
      }
    }
    &.lang-ru{
      background-image: image-url('lang-ru.png'); 

    }
    &.lang-en{
      background-image: image-url('lang-en.png');  
    }
    &.mail-flat{
      background-image: image-url('mail-flat.png');
      width: 29px;
      height: 21px;
      background-size: 29px 21px;  
    }
  }
  .circle-icon{
    color: $primary-color;
    width: rem-calc(16);
    height: rem-calc(16);
    border: rem-calc(1) solid $primary-color;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: rem-calc(16);
    @include border-radius($global-rounded);
    @include box-sizing(content-box);
    .icon{
      width: 50%;
      height: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25%;
      margin-left: -25%;
    }
    //size
    &.small{
      width: rem-calc(14);
      height: rem-calc(14);
    }
    &.medium{
      width: rem-calc(18);
      height: rem-calc(18);
    }
    &.large{
      width: rem-calc(20);
      height: rem-calc(20);
    }
    &.xlarge{
      width: rem-calc(22);
      height: rem-calc(22);
    }
    &.xlarge{
      width: rem-calc(24);
      height: rem-calc(24);
    }
    &.big{
      width: rem-calc(130);
      height: rem-calc(130);
      border-width: rem-calc(3);
    }
    &.x-60{
      line-height: rem-calc(60);
    }
    //colors
    &.primary-color {
      color: $primary-color;
      border-color: $primary-color;
    }
    &.secondary-color {
      color: $secondary-color;
      border-color: $secondary-color;
    }
    &.alert-color {
      color: $alert-color;
      border-color: $alert-color;
    }
    &.success-color {
      color: $success-color;
      border-color: $success-color;
    }
    &.success-light{
      color: #57d86f;
      border-color: #57d86f;
    }
    &.warning-color {
      color: $warning-color;
      border-color: $warning-color;
    }
    &.info-color {
      color: #87a1b2;
      border-color: #87a1b2;
    }
    &.light-color {
      color: $light-color;
      border-color: $light-color;
    }
    &.xlight-color {
      color: $extra-light-color;
      border-color: $extra-light-color;
    }
  }
  .icon-logo{
    width: 98px;
    height: 16px;
    display: inline-block;
    fill: currentColor; 
  }
  // 1.6.Modals---------------------------------------------------------------------------
  .reveal-modal-bg{
    z-index: 9998;
    background: rgba(#000, .70);
  }
  .reveal-modal{
    z-index: 9999;
    .button{
      margin: 0;
    }
    .title{
      margin-bottom: rem-calc(20);
      h2{
        left: 0;
      }
    }
    .row{
      margin-bottom: rem-calc(20);
      .row{
        margin-bottom: 0;
      }
    }
    a.close-reveal-modal{
      width: rem-calc(16);
      height: rem-calc(16);
      background: image-url('close.svg') no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
  }
  // 1.6.Tab------------------------------------------------------------------------------
  .tab{
    &.fix-height{
      .tabs-content{
        min-height: rem-calc(400);
      }
    }
    .tabs{
      margin: 0 0 rem-calc(-5) 0;
      padding: 0;
      .tab-title{
        @include border-radius(rem-calc(4) rem-calc(4) 0 0);
        padding: 0 rem-calc(4) 0 0 !important;
        text-align: center;
        &:last-child{
          padding: 0!important;
        }
        &.active{
         a{
           border: rem-calc(1) solid darken(#e3ecf1,5%);
           border-bottom: none;
         }
        }
        a{
          margin-bottom: rem-calc(-1);
          @include border-radius(rem-calc(4) rem-calc(4) 0 0);
          @include single-transition(background);
        }
      }
    }
    .tabs-content{
      border: rem-calc(1) solid darken(#e3ecf1,5%);
      background: #fff;
      padding: rem-calc(20);
    }
  }
  // 3.CONTENT############################################################################
  .wrapper{
    padding-left: rem-calc(200);
    position: relative;
    overflow: hidden;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto rem-calc(-55);
    position: relative;
    @include single-transition();
    &:after{
      content:'';
      height: rem-calc(55);
      display: table;
    }
  }
  .inner{
    max-width: rem-calc(1170) !important;
    margin: 0 auto !important;
  }
  .rating-blank{
    text-align: center;
    position: relative;
    img{
      max-width: 100%;
    }
    span{
      width: 100%;
      height: 15%;
      min-height: 50px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      display: block;
    }
  }
  // 3.1.Header---------------------------------------------------------------------------
  #head{
    background: #000 image-url('head.jpg') no-repeat 50% 0;
    height: 585px;
    position: relative;
    box-shadow: 0;
    .logo{
      margin-top: rem-calc(16);
    }

    .top{
       height: rem-calc(70);
       background: rgba(#000,0.2);
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
      .nav{
         margin-top: rem-calc(18);
         height: rem-calc(70);
         background: transparent;
         .button.no-bg{
           font-size: rem-calc(14);
           font-weight: $font-weight-light;
           color: #bdfffb;
           background: transparent;
           border: rem-calc(1) solid transparent;
           &:hover,&.open{
             color: lighten($primary-color,10%);
             border-color: $primary-color;
           }
          }
          .f-dropdown{
          color: lighten($primary-color,10%);
          margin-top: rem-calc(30);
          font-size: rem-calc(13);
          background: rgba(#0c1017,0.92);
          border: none;
          p:last-child{
            margin-bottom: 0;
          }

          .block-grid{
            li{
             background: transparent !important;
             padding-bottom: 0 !important;
            }
          }
            a{
              font-size: rem-calc(13);
              color: lighten($primary-color,10%);
              &:hover{
                color: lighten($primary-color,20%);
              }
              &.light-link{
                color: lighten($primary-color,40%);
                &:hover{
                 color: lighten($primary-color,30%);
                }
              }
              &.button{
                border:none;
                color: #fff;
              }
            }
          &::before{
            border-color: transparent transparent rgba(#0c1017,0.92) transparent;
          }
          &::after{
            border-color: transparent;
          }
          input{
            color: lighten($primary-color,20%) !important;
            font-size: rem-calc(13);
            background-color: #203a41;
            border: none;
            &.err{
              color: #ff4343 !important;
            }

          }
        }
      }
    }
    .reg{
      border: none;
      font-size: rem-calc(22);
      font-weight: $font-weight-light;
      position: absolute;
      padding: rem-calc(12) 0;
      bottom: rem-calc(-30);
      left: 50%;
      margin-left: rem-calc(-190);
      width: rem-calc(380);
      height: rem-calc(60);
      text-shadow: rgba(#000,.3) rem-calc(1) rem-calc(1);
      display: block;
      z-index: 1;
      border-top: rem-calc(1) solid lighten(#7fbb3b,10%);
      @include background-image(linear-gradient(bottom, #6fa328, #7fbb3b));
      @include single-transition();
      &:hover{
        @include background-image(linear-gradient(bottom, darken(#6fa328,5%), darken(#7fbb3b,5%)));
      }
      .icon{
        width: rem-calc(30);
        height: rem-calc(30);
        background-size: rem-calc(30);
        margin-right: rem-calc(10);
      }
    }
  }

  .wrapper .top-bar{
    @include box-shadow(0 rem-calc(2) rgba(0, 0, 0, 0.1));
    a{
      @include single-transition();
    }
    .name{
      h1{
        display: none;
      }
    }
  }
  // 1.6.Main-----------------------------------------------------------------------------
  #main{
    h2{
      text-transform: uppercase;
    }
    .index-panel{
      position: relative;
      padding: rem-calc(150) 0;
      @media #{$small-only} {
        padding: rem-calc(100) 0;
      }
      @media #{$medium-only} {
        padding: rem-calc(120) 0;
      }
      &.info-panel{
        padding: rem-calc(100) 0 rem-calc(150) 0;
        background: #fff;
        @media #{$small-only} {
          padding: rem-calc(100) 0 rem-calc(100) 0;
        }
      }
      &.work-panel{
        color: #fff;
        background: #7b99a0 image-url("bg/bg-work.jpg") no-repeat;
        @include background-size(cover);
        h2{
          color: #304854;
        }
        .title-hr{
          &::before,&::after{
            width: 33%;
          }
          @media #{$small-only} {
            &::before,&::after{
              width: 15%;
            }
          }
          @media #{$medium-only} {
            &::before,&::after{
              width: 25%;
            }
          }
        }
        hr{
          width: 25%;
          margin: 80px auto 60px auto;
        }
        .step-line{
          text-align: center;
          margin-bottom: rem-calc(70) !important;
          @include grid-row();
          li{
            @include grid-column(3);
            height: rem-calc(70);
            overflow: hidden;
            position: relative;
            &:first-child{
              &:before{
                display: none;
              }
            }
            &:last-child{
              &:after{
                display: none;
              }
            }
            &:before{
              content: '';
              width: 50%;
              height: 3px;
              background: #f0f5e8;
              position: absolute;
              left: rem-calc(-30);
              top: rem-calc(30);
            }
            &:after{
              content: '';
              width: 50%;
              height: 3px;
              background: #f0f5e8;
              position: absolute;
              right: rem-calc(-30);
              top: rem-calc(30);
            }
            .circle-icon{
              color: #f0f5e8;
              font-size: rem-calc(20);
              width: rem-calc(60);
              height: rem-calc(60);
              border: solid rem-calc(3) #f0f5e8;
              line-height: rem-calc(60);
            }
          }
        }
        .q-link{
          @include grid-row();
          margin-bottom: rem-calc(20);
          li{
            @include grid-column(3);
            @media #{$small-only} {
              @include grid-column(6);
            }
            text-align: center;
            position: relative;
            &:last-child{
              &:after{
                display: none;
              }
            }
            &:after{
              content: '';
              width: 88px;
              height: 12px;
              display: block;
              position: absolute;
              top: 55px;
              right: -15%;
              background: image-url("preim-arrow.png") no-repeat;
              z-index: 2;
            }
            @media #{$medium-only} {
              &:after{
                display: none;
              }
            }
            @media #{$small-only} {
              &:after{
                display: none;
              }
            }
            h3{
              color: #000;
              margin-top: rem-calc(40);
              font-size: $h1-font-size;
              font-weight: $font-weight-light;
            }
            &:hover{
              h3{
                color: #fff;
              }
            }
          }
        }
        .q-content{
          q{
            font-size: rem-calc(16);
            color: #000;
            font-style: italic;
            background: #fff;
            padding: rem-calc(28) rem-calc(30);
            line-height: 1.4;
            position: relative;
            width: 100%;
            display: none;
            @include border-radius(rem-calc(8));
            &.active{
              display: block;
            }
            &:before{
              content: '';
              width: rem-calc(30);
              height: rem-calc(17);
              display: block;
              position: absolute;
              top: rem-calc(-17);
              left: 0;
              background: url(../images/svg/arr-quote.svg) no-repeat;
            }
            &#q-login{
              &:before{
                left: 11%;
              }
            }
            &#q-mobi{
              &:before{
                left: 36%;
              }
            }
            &#q-stat{
              &:before{
                left: 61%;
              }
            }
            &#q-handmoney{
              &:before{
                left: 87%;
              }
            }
            &:after{
              content: none;
            }
          }
        }
      }
      &.preim-panel{
        background: #fff image-url("bg/bg-preim.jpg") 50% 0 no-repeat;
        border-bottom:1px solid #ebebeb;
        .title-hr{
          &::before,&::after{
            width: 24%;
          }
          @media #{$small-only} {
            &::before,&::after{
              width: 10%;
            }
          }
          @media #{$medium-only} {
            &::before,&::after{
              width: 15%;
            }
          }
        }
        h3{
          color: #de351d;
          font-size: rem-calc(28);
          font-weight: $font-weight-light;
          display: inline-block;
          .icon{
            width: 37px;
            height: 37px;
            margin-right: rem-calc(15);
            vertical-align: middle;
            top: rem-calc(-5);
            &.icon-target-line{
              width: 44px;
            }
            &.icon-supportman-line{
              width: 44px;
              height: 44px;
              position: relative;
              // top: 10px;
            }
            &.icon-app-line{
              height: 38px;
            }
          }
        }
      }
      &.partner-panel{
        background: #fff;
        .title-hr{
          @media #{$small-only} {
            &::before,&::after{
              width: 15%;
            }
          }
          @media #{$medium-only} {
            &::before,&::after{
              width: 25%;
            }
          }
        }
        .partners-logo{
          @include grid-row();
          background: image-url("bg/bg-map.png") no-repeat 50%;
          @include background-size(contain);
          padding-top: rem-calc(100);
          padding-bottom: rem-calc(40);
          li{
            @include grid-column(3);
            @media #{$small-only} {
              @include grid-column(6);
            }
            height: 50px;
            margin-bottom: rem-calc(50);
            padding-left: rem-calc(60);
          }
        }
      }
      &.reg-panel{
        text-align: center;
        color: #fff;
        padding: rem-calc(300) 0;
        position: relative;
        @media #{$small-only} {
          padding: rem-calc(100) 0;
        }
        @media #{$medium-only} {
          padding: rem-calc(200) 0;
        }
        @include background-size(cover);
        &:before{
          background: image-url("bg/dotted-pattern.png") 0 0 repeat-x;
          content: '';
          width: 100%;
          height: 100px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
        &:after{
          background: #1f4637 image-url("bg/pattern.png");
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          @include opacity(.5);
        }
        .row{
          position: relative;
          z-index: 3;
        }
        h3{
          color: #fff !important;
          font-size: rem-calc(28);
          font-weight: $font-weight-light;
          margin-bottom: rem-calc(60);
        }
        .next-slide{
          background: #eaecd2;
        }
      }
    }
  }
  #foot{
    color: #dbe1bd;
    background: image-url('bg/foot.jpg');
    min-height: rem-calc(185);
    padding-top: rem-calc(80);
    @media #{$small-only} {
      min-height: rem-calc(145);
      padding-top: rem-calc(50);
    }
    .copy{
      text-align: center;
      // padding-left: rem-calc(35);
    }
    .button{
      color: #e6fffd;
      font-size: rem-calc(14);
      font-weight: $font-weight-light;
      @include background-image(linear-gradient(bottom, #196649, #1e7354));
      @include border-radius(rem-calc(4));
      border-top: rem-calc(1) solid lighten(#1e7354,5%);
      border-bottom: rem-calc(1) solid rgba(#000,.5);
      text-shadow: rgba(#000,.5) rem-calc(1) rem-calc(1);
      position: relative;
      padding: rem-calc(9 40 9 20);
      p{
        line-height: 1.2;
        font-size: rem-calc(15);
        margin: 0;
      }
      span{
        position: absolute;
        top:15px;
        right: 0;
        width: 29px;
        height: 21px;
        background-size: 29px 21px;
      }

      &:hover{
        @include background-image(linear-gradient(bottom, darken(#196649,5%), darken(#1e7354,5%)));
      }
    }
  }

  // 1.6.Panel----------------------------------------------------------------------------
  .panel{
    border: none;
    @include box-shadow(0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.2));
    position: relative;
    >.title{
      margin-bottom: rem-calc(15);
      h2{
        left: 0;
        margin-bottom: rem-calc(20);
      }
    }
    &.tools-panel{
      margin-bottom: rem-calc(10);
      padding: rem-calc(10);
    }
  }
  // 3.2.Title-----------------------------------------------------------------------------
  .title{
    position: relative;
    &.centered{
      h2{
        left: 0;
      }
    }
    h2{
      font-size:rem-calc(16);
      font-weight: 400;
      color: #386377;
      position: relative;
      left: rem-calc(30);
      display: inline-block;
      margin-bottom: rem-calc(20);
       &:after{
        background: darken($body-bg, 5%);
        content: '';
        width: rem-calc(20);
        height: rem-calc(1);
        position: absolute;
        top: rem-calc(8);
        right: rem-calc(-30);
      }
      &:before{
        background: darken($body-bg, 5%);
        content: '';
        width: rem-calc(20);
        height: rem-calc(1);
        position: absolute;
        top: rem-calc(8);
        left: rem-calc(-30);
      }
    }
    .button{
      position: absolute;
      top: 0;
      &.left{
        left: 0;
      }
      &.right{
        right: 0;
      }
      &.mini{
        padding: 0;
        width: rem-calc(24);
        height: rem-calc(24);
        text-align: center;
        .icon{
          margin: 0;
          top: 0;
        }
      }
    }
  }
  .row{
      max-width: 100%;
      margin: 0;
      .divider-horizontal{
        border-right: rem-calc(1) solid $extra-light-color;
      }
    }
  // 1.6.Left-menu------------------------------------------------------------------------
  $left-menu-bg: #151b26;
  &.left-open-menu{
    #left-menu{
      width: rem-calc(60);
      overflow: hidden;
      .logo{
        a{
          background-position: 50%;
          img{
            visibility: hidden;
          }

        }
      }
    }
    .wrapper{
      padding-left: rem-calc(60);
      .top-bar .name h1{
        display: block;
      }
    }
    #footer{
      margin-left: rem-calc(60);
    }
  }
  //Left-menu content
  #left-menu{
    background: $left-menu-bg;
    width: rem-calc(200);
    padding-bottom: rem-calc(10000);
    margin-bottom: rem-calc(10000);
    position: fixed;
    top: 0;
    left: 0;
    @include single-transition();
    .logo{
      padding: rem-calc(15);
      color: #c6edff;
      height: 45px;
      a{
        color: #c6edff;
        display: block;
        .icon-menu-icon{
          color: #315565;
          top: rem-calc(-4);  
        }
      }
    }
    .side-nav{
      padding: 0;
      li{
        &.divider {
          background: darken($left-menu-bg,2%);
          border-top: rem-calc(1) solid darken($left-menu-bg,4%);
          border-bottom: rem-calc(1) solid lighten($left-menu-bg,1%);
          height: rem-calc(7);
          &.top{
            height: rem-calc(3);
          }
        }
        a{
          color: #315565;
          font-family: $body-font-family;
          font-size: $base-font-size;
          padding: rem-calc(15);
          display: block;
          @include single-transition();
          &:hover{
            color: lighten($primary-color,30%);
          }
          .icon{
            width: rem-calc(24);
            height: rem-calc(24);
            margin-right: rem-calc(15);
          }
        }
        &.active{
          a{
            color: lighten($primary-color,30%);
          }
        }
      }
    }
  }

  // 3.12.Pagination------------------------------------------------------------------------
  .pagination{
    li{
      &.unavailable{
        @include opacity(0.5);
        a{
          font-size: rem-calc(16);
          color: $primary-color;
          width: rem-calc(14);
          border: none;
        }
      }
      &.arrow{
        a{
          font-size: rem-calc(12);
          width: rem-calc(24);
          border: rem-calc(1) solid $primary-color;
          .icon{
            width: rem-calc(9);
            height: rem-calc(9);
            margin: 0;
            top: rem-calc(-2);
          }
        }
        &:last-child{
          a{
            margin-right: 0;
            .icon{
              left: rem-calc(2);
            }
          }
        }
      }
      a{
        color: $primary-color;
        font-size: rem-calc(12);
        padding: rem-calc(2) rem-calc(1) 0 0;
        margin-right: rem-calc(5);
        text-align: center;
        width: rem-calc(24);
        height: rem-calc(24);
        border: rem-calc(1) solid $primary-color;
        @include border-radius($global-rounded);
        &:hover{
          @include background-opacity($primary-color, 0.2);
        }

      }
    }
  }
  // 3.3.Footer-----------------------------------------------------------------------------
  #footer{
    color: #c9cab8;
    font-size: rem-calc(12);
    border-top: rem-calc(1) solid #e3e4d0;
    padding: rem-calc(20) 0;
    height: rem-calc(55);
    margin-left: rem-calc(200);
    @include single-transition();
  }
  // 4.COMPONENTS#########################################################################
  // 3.3.Step-----------------------------------------------------------------------------
  .reveal-modal>.step,.reveal-modal .steps-circle{
    margin: 0 rem-calc(-45) rem-calc(30) rem-calc(-45); 
  }
  .panel>.step,.steps-circle{
    overflow: hidden;
    margin: 0 rem-calc(-20) rem-calc(30) rem-calc(-20);
    padding-top: rem-calc(20);
    @include clearfix;
    li{
      width: 25%;
      float: left;
      color: lighten($body-font-color,65%);
      text-align: center;
      position: relative;
      padding-top: rem-calc(40);
      font-size: $h5-font-size;
      &::after{
        content: '';
        width: 100%;
        height: rem-calc(2);
        background: lighten($body-font-color,65%);
        position: absolute;
        top: 0;
        left: -50%;
      }
      &:last-child{
        &::before{
          content: '';
          width: 100%;
          height: rem-calc(2);
          background: lighten($body-font-color,65%);
          position: absolute;
          top: 0;
          right: -50%;
        }
      }
      &.active{
        color: lighten($primary-color,10%);
        &::after{
          background: lighten($primary-color,10%);
        }
        &::before{
          background: lighten($primary-color,10%);
        }
        span{
          color: lighten($primary-color,10%);
          border: rem-calc(2) solid lighten($primary-color,10%);
        }
      }
      &.ok{
        color: lighten($success-color,10%);
        &::after{
          background: lighten($success-color,10%);
        }
        &::before{
          background: lighten($success-color,10%);
        }
        span{
          color: lighten($success-color,10%);
          border: rem-calc(2) solid lighten($success-color,10%);
          text-indent: rem-calc(-999);
          overflow: hidden;
          .icon{
            display: block;
          }
        }
        &.show-text{
          span{
            text-indent: 0 !important;
            .icon{
              display: none;
            }
          }    
        }
      }
      strong{
        display: block;
      }
      span{
        color: lighten($body-font-color,65%);
        font-weight: $font-weight-bold;
        font-size: rem-calc(16);
        width: rem-calc(40);
        height: rem-calc(40);
        padding-top: rem-calc(6);
        margin-left: rem-calc(-20);
        background: $panel-bg;
        border: rem-calc(2) solid lighten($body-font-color,65%);
        display: inline-block;
        position: absolute;
        top: rem-calc(-20);
        left: 50%;
        z-index: 1;
        @include border-radius($global-rounded);
        .icon{
          width: rem-calc(16);
          height: rem-calc(16);
          position: absolute;
          top: 50%;
          left: 50%;
          margin: rem-calc(-8) 0 0 rem-calc(-8);
          display: none;
        }
      }
    }
  }
  // 3.3.Statistics-------------------------------------------------------------------------
  .statistics{
    position: relative;
    .graphic{
      padding-right: rem-calc(340);
    }
    .text-stat{
      position: absolute;
      top: rem-calc(20);
      right: rem-calc(20);
      width: rem-calc(300);
      .block-stat{
       li{
         width: 30%;
         dl{
           text-align: right;
           margin-bottom: 0;
           dt{
             color: $light-color;
             font-weight: 400;
             margin-bottom: rem-calc(15);
           }
           &.dhead{
             text-align: left;
           }
           &.col{
             border-right: 1px $extra-light-color solid;
             padding-right: rem-calc(15);
           }
         }
         &.name{
           width: 30%;
         }
         &.today{
           width: 38%;
         }
         &.mounth{
           width: 32%;
         }
         &:last-child .col{
           border-right: none !important;
           padding-right: 0 !important;
         }
       }
      }
      .money-stat{
        margin-bottom: rem-calc(30);
       .row{
         margin-bottom: rem-calc(10);
         vertical-align: middle;
         .columns:first-child{
           span{
              color: $light-color;
              position: relative;
              top: rem-calc(7);
              &.xxlarge-size{
                font-weight: 700;
              }
            }
          }
          .columns:last-child{
            padding-left: 0;
          }
        }
      }
    }
  }
  // 3.4.Events list------------------------------------------------------------------------
  .events-list{
    li{
      position: relative;
      border-bottom: solid rem-calc(1) $extra-light-color;
      padding: rem-calc(15) rem-calc(15) rem-calc(0) rem-calc(50);
      &:last-child{
        border-bottom: none;
      }
      .date{
        color: $light-color;
        font-size: rem-calc(12);
        position: absolute;
        top: rem-calc(15);
        left: 0;
      }
      p{
        font-size: rem-calc(13);
      }

    }
  }
  // 3.8.Avatar round-----------------------------------------------------------------------
  .ava{
    width: rem-calc(100);
    height: rem-calc(100);
    display: inline-block;
    position: relative;
    overflow: hidden;
    &:after{
      content:'';
      width: rem-calc(100);
      height: rem-calc(100);
      background: transparent image-url('ava-round.svg') no-repeat 0 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    img{
      max-width: 100%;
    }
  }
  // 3.9.Vcard------------------------------------------------------------------------------
  .vcard{
    border:none;
    padding: 0;
    margin-bottom: rem-calc(10);
    width: 100%;
    li{
      margin-bottom: rem-calc(10);
      background: no-repeat;
      padding: rem-calc(2) 0 rem-calc(2) 0;
      margin-bottom: rem-calc(15);
      &.photo{
        text-align: center;
        padding: rem-calc(2) 0 rem-calc(2) 0;
      }
      &.fn{
        font-weight: $font-weight-normal;
      }
    }
  }
  // 3.10.Best offer------------------------------------------------------------------------
  .best-offer{
    li{
      position: relative;
      margin-bottom: rem-calc(20);
      padding-left: rem-calc(75);
      h4{
        font-weight: $font-weight-normal;
        margin-bottom: rem-calc(5);
        position: relative;
        top: rem-calc(-5);
      }
      p{
        font-size: rem-calc(13);
        margin: 0;
      }
      .offer-img{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  // 3.11.Nav-tab-------------------------------------------------------------------------
  .nav-tab{
    margin: 0;
    padding: 0;
    @include box-shadow(0 rem-calc(1) rem-calc(1) rgba(0, 0, 0, 0.2));
    @include border-radius($global-radius);
    &.links li a{
      padding: rem-calc(25) rem-calc(15) !important;
    }
    li{
      background: $primary-color;
      border-bottom: rem-calc(1) solid darken($primary-color,5%);
      margin: 0;
      padding: 0;
      @include single-transition();
      &:hover{
        background: darken($primary-color,5%);
      }
      &:first-child{
        @include border-radius($global-radius $global-radius 0 0);
      }
      &:last-child{
        border-bottom: none;
        @include border-radius(0 0 $global-radius $global-radius);
      }
      &.active{
        background: #fff;
        color: $primary-color !important;
        a{
          color: $primary-color !important;
        }
      }
      a{
        color: #fff !important;
        padding: rem-calc(15) !important;
      }
    }
  }
  // 3.11.panel-add-------------------------------------------------------------------------
  .panel-add{
    a{
      font-size:rem-calc(16);
      display: table;
      width: 100%;
      height: rem-calc(200);
      border: rem-calc(2) dashed $primary-color;
      text-align: center;
      box-sizing: border-box;
      @include single-transition();
      &:hover{
        color: $success-color;
        border-color: $success-color;
      }
      span{
        font-size:rem-calc(16);
        z-index: 1;
        height:rem-calc(200); 
        display:table-cell;
        vertical-align:middle;
        margin: 0 auto;
        text-align: center;
        .icon{
          margin-top: rem-calc(10); 
          width: rem-calc(25);
          height: rem-calc(25); 
        }
      }
    }
  }

  // 3.12.Add area------------------------------------------------------------------------
  .add-area{
    padding: 20% 0;
    margin: rem-calc(20) 0;
    position: relative;
    a.create{
      color: $primary-color;
      width: rem-calc(300);
      height: rem-calc(300);
      border: rem-calc(2) dashed $primary-color;
      background: no-repeat 50%;
      text-align: center;
      margin: rem-calc(-150 0 0 -150);
      position: absolute;
      left: 50%;
      top: 50%;
      @include single-transition();
      &:hover{
        color: $success-color;
        border: rem-calc(2) dashed $success-color;
      }
      span{
        font-size:rem-calc(16);
        display: block;
        z-index: 1;
        height:rem-calc(300);
        width:rem-calc(300); 
        display:table-cell;
        vertical-align:middle;
        .icon{
          margin-top: rem-calc(10); 
          width: rem-calc(25);
          height: rem-calc(25); 
        }
      }
      .icon.back-bg{
        color: #000;
        width: 70%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -35% 0 0 -35%;
        @include opacity(0.1); 
        &[class*=tt-]{
          width: 140%;
          height: 140%;
          margin: -70% 0 0 -70%;  
        } 
      }
    }
  }
  // 3.12.Add area------------------------------------------------------------------------
  .title-company{
    display: block;
    &.active{
      color: $body-font-color;
    }
  }
  .content-company{
    display: none;
    >td{
      padding: 0 !important;
    }
    table{
      background: rgba($body-bg,0.1);
      position: relative;
    }
  }
  tr.no-border{
    td{
      background: rgba($body-bg,0.1);
      border-bottom: none !important;
    }
  }
  .card{
    position: relative;
    min-height:rem-calc(200);
    .edit{
      display: none;
      min-height:rem-calc(340);
      position: relative;
      .bottom{
        bottom: 0;
      }
    }
    .msg{
      display: none;
      color: #fff;
      font-size: rem-calc(13);
      @include background-opacity(#0b1b2c, 0.95);
      position: absolute;
      text-align: center;
      padding: rem-calc(20);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .text-msg{
        height:rem-calc(150);
        display:table-cell;
        vertical-align:middle;
        p{
          color: #fff;
          font-size: rem-calc(13);
        }
      }
    }
    &.msg-active .msg .text-msg{
      height:rem-calc(350);
    }
    .bottom{
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: rem-calc(20);
    }
  }
  .auto-payment{
    &.active{
      position: relative;
      &::after{
        content:'';
        width: 100%;
        height: 101%;
        position: absolute;
        top: 0;
        left: 0;
        @include background-opacity(#fff, 0.5);
      }
    }
  }

  // 3.12.Chat----------------------------------------------------------------------------
  .chat{
    &.line{
      li{
        padding-left: rem-calc(10);
      }
    }

    &.news{
      li{
        padding-left: rem-calc(60);
        .side{
           font-weight: $font-weight-normal;
           color: $light-color;
         }
        .panel{
          .cont{
            padding-bottom: rem-calc(20);
             &::after{
              content: '';
              clear: both;
              display: table;
            }
            .news-prev{
              float: left;
              margin-right: rem-calc(10);
            }
            p{
              margin-bottom: rem-calc(10);
            }
          }
          .foot{
            font-size: rem-calc(13);
            position: relative;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: rem-calc(20);
            text-align: right;
          }
        }
      }
    }

    li{
      &.right-align{
        padding-right: rem-calc(100);
        padding-left: inherit;
        .side{
          top: 0;
          left: auto;
          right: 0;
        }
        .panel{
          .head{
            text-align: right;
            h4{
              float: right;
              margin-left: rem-calc(20);
              position: relative;
              top: rem-calc(2);
            }
          }

          &::after{
            top: 0;
            left: auto;
            right: rem-calc(-10);
            border-left: none;
            border-right: rem-calc(10) solid transparent;
          }
          &::before{
            top: rem-calc(1);
            left: auto;
            right: rem-calc(-10);
            border-left: none;
            border-right: rem-calc(10) solid transparent;
          }
        }
      }
      position: relative;
      padding-left: rem-calc(100);
      .side{
        position: absolute;
        top: 0;
        left: 0;
        width: rem-calc(80);
        height: rem-calc(80);
      }
      .panel{
        .head{
          h4{
            margin-bottom:  rem-calc(15);
          }
          .label{
            margin-bottom: 0;
          }
        }
        p{
          position: relative;
          font-size: rem-calc(13);
          line-height: 1.4;
        }
        &::after{
          content: '';
          width: 0;
          height: 0;
          border-top: rem-calc(10) solid #fff;
          border-left: rem-calc(10) solid transparent;
          position: absolute;
          top: 0;
          left: rem-calc(-10);
          z-index: 1;
        }
        &::before{
          content: '';
          width: 0;
          height: 0;
          border-top: rem-calc(10) solid rgba(0,0,0,.15);
          border-left: rem-calc(10) solid transparent;
          position: absolute;
          top: rem-calc(1);
          left: rem-calc(-10);
        }
      }
    }
  }

  // 3.12.Accordion----------------------------------------------------------------------------
  .accordion{
    &.faq{
      padding-left: rem-calc(10);
      .accordion-navigation{
        margin-bottom: rem-calc(20) !important;
        padding: 0;
        >a{
          color: $primary-color;
          font-size: $h4-font-size;
          background: transparent;
          padding: rem-calc(20);
          position: relative;
          &:hover{
            color: darken($primary-color,10%);
          }
        }
        &::after{
          content: '';
          width: 0;
          height: 0;
          border-top: rem-calc(10) solid #fff;
          border-left: rem-calc(10) solid transparent;
          position: absolute;
          top: 0;
          left: rem-calc(-10);
          z-index: 1;
        }
         &::before{
          content: '';
          width: 0;
          height: 0;
          border-top: rem-calc(10) solid rgba(0,0,0,.15);
          border-left: rem-calc(10) solid transparent;
          position: absolute;
          top: rem-calc(1);
          left: rem-calc(-10);
        }
        .content{
          padding: rem-calc(0 20 20);
        }
      }
    }
  }
  .title-hr{
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: rem-calc(80);
    @media #{$small-only} {
      padding: rem-calc(40);
    }
    h2{
      text-transform: uppercase;
      font-size: rem-calc(36);
      font-weight: $font-weight-light;
      display: inline-block;
      margin: 0;
      z-index: 1;
      padding: 0 rem-calc(20);
    }
    &::before{
      content: '';
      width: 34%;
      height: rem-calc(1);
      position: absolute;
      top: 50%;
      left: rem-calc(-20);
      margin-top: 0;
      background: $extra-light-color;
    }
    &::after{
      content: '';
      width: 34%;
      height: rem-calc(1);
      position: absolute;
      top: 50%;
      right: rem-calc(-20);
      margin-top: 0;
      background: $extra-light-color;
    }
  }
  .best-list{
    cursor: pointer;
    &.active{
      ul li{
        width: 100%;
        float: none;
        padding: 0 0 0 rem-calc(140);
        height: auto; 
        p{
          &.all-text{
            display: block;
          }
          &.prev-text{
            display: none;
          }
        }  
      }
      a.show-hide{
        background-image:image-url('hide-show.svg');
      }
    }
    ul{
      list-style: none;
      list-style-position: inside;
      margin: 0;
      padding: 0;
      &:after{
        @include clearfix();  
      }
      li{
        padding: 0 rem-calc(40) 0 rem-calc(140);
        margin-bottom: rem-calc(40);
        position: relative;
        width: 50%;
        float: left;
        height: rem-calc(150);
        @include box-sizing(border-box);
        @include single-transition();
        &:nth-child(2n){
          padding-right: 0;
        } 
        .ico{
          position: absolute;
          top: 0;
          left: 0;
          background: #eef0d5;
          padding: rem-calc(7) rem-calc(6) rem-calc(6) rem-calc(7);
          @include border-radius($global-rounded);
          img{
            width: rem-calc(78);
            height: rem-calc(78);
          }
        }
        h4{
          font-size: rem-calc(20);
        }
        p{
          font-size: rem-calc(16); 
          &.all-text{
            display: none;
          }
        } 
      }
    }
    a.show-hide{
      color: lighten($body-font-color,10%);
      background:image-url('show-hide.svg') no-repeat 50% 0;
      padding-top: rem-calc(50);
      display: inline-block;
      margin: 0 auto;
    }
  }
}
// 5.RESPONSIVE###########################################################################
// 5.1.Small screen----------------------------------------------------------------------
@media #{$small-only} {
  .statistics{
    .graphic{
      padding-right: rem-calc(20);
      margin-bottom: rem-calc(20);
    }
    .text-stat{
      padding: rem-calc(20);
      padding-bottom: 0;
      position: relative;
      top: 0;
      right: 0;
      width: auto;
    }
  }
}
// 5.1.Medium screen----------------------------------------------------------------------
@media #{$medium-only} {
  .wrapper{
    padding-left: 160px;
  }
  #left-menu{
    width: 160px;
  }
}
// 5.2.Xxlarge screen---------------------------------------------------------------------
 @media #{$xxlarge-up} {
  .vcard{
    border:none;
    padding: 0;
    margin-bottom: rem-calc(10);
    width: 100%;
    position: relative;
    padding-left: rem-calc(120);
    li{
      &.photo{
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: rem-calc(2) 0 rem-calc(2) 0;
      }
    }
  }
}

/* opsos */
html .vcard li.mts, body .vcard li.mts {
  background-image: image-url('opsos/mts.png');
}
html .vcard li.megafon, body .vcard li.megafon {
  background-image: image-url('opsos/megafon.png');
}
html .vcard li.beeline, body .vcard li.beeline {
  background-image: image-url('opsos/polosatiy_myachik.png');
}
html .vcard li, body .vcard li {
  margin-bottom: 0.71429rem;
  background: no-repeat;
  padding: 0.14286rem 0 0.14286rem 2.14286rem;
  margin-bottom: 1.07143rem;
}

.scrollfix-modal {
  height:450px;
  overflow-y:scroll;
}


.archived{
  a, span, .switch {
    color: #999999;
  }
  div.switch input:checked + label {
    background-color: #dddddd;
    border-color: #eeeeee;
  }
  .label.add {
    background-color: #999999;
    svg {
      color: #ffffff;
    }
  }
}

div.switch.secondary-color input:checked + label {
    background-color: #dddddd;
    border-color: #eeeeee;
}


.drop-contacts{
  position: relative;
  margin-bottom: rem-calc(20);
  &.active{
    .parent-contact{
      input{
        @include border-radius(rem-calc(4) rem-calc(4) 0 0 !important);
      }
    }
    ul li{
      &:last-child{
        input{
          @include border-radius(0 0 rem-calc(4) rem-calc(4) !important);
        }
      }
      input{
        @include border-radius(0 !important);
      }
    }
  }
  ul{
    position: absolute;
    top: rem-calc(35);
    left: 0;
    width: 100%;
    z-index: 5;
    display: none;
    li{
      background: transparent !important;
      margin: 0;
      padding: 0;
      input{
        margin-bottom: 0;
        &:hover{
          background: lighten(#203a41,5%) !important;
        }
      }
    }
  }
}

.dropzone {
  min-height: 120px !important;
}

#alert-region {
  position: fixed;
  z-index: 9000;
  left: 5px;
  bottom: 0px;
}


// MAIN PAGE
body {
  .fz-16{
    font-size: rem-calc(16) !important;
  }
  .fz-20{
    font-size: rem-calc(20) !important;
  }
  .fz-30{
    font-size: rem-calc(30) !important;
  }
  .text-color {
    color: #000;
    border-color: #000;
  }
  // 1.4.1.Background colors---------------------------------------------------------------------------
  .primary-bg {
    background-color: $primary-color;
  }
  .primary-light-bg {
    background-color: lighten($primary-color,51%);
  }
  .secondary-bg {
    background-color: $secondary-color;
  }
  .alert-bg {
    background-color: $alert-color;
  }
  .success-bg {
    background-color: $success-color;
  }
  .success-light-bg {
    $success-color-saturation: scale-saturation($success-color,100%);
    background-color: lighten($success-color-saturation,45%);
  }
  .warning-bg {
    background-color: $warning-color;
  }
  .info-bg {
    background-color: #87a1b2;
  }
  .light-bg {
    background-color: $light-color;
  }
  .xlight-bg {
    background-color: $extra-light-color;
  }

}