.row
  .large-12.columns
    .title
      h2 Статистика
.row
  #date-selectors-region.large-12.columns
    .panel.tools-panel
      .row
        .small-4.columns
          ul.button-group.dates.radius.small
            li
              .check-button
                input#day1 type='radio' name='date_scope' value='day' data-scope='day'
                  label.button.secondary for='day1'  День
            li
              .check-button
                input#day2.checked checked='' type='radio' value='week' name='date_scope' data-scope='week' 
                  label.button.secondary for='day2'  Неделя
            li
              .check-button
                input#day3 type='radio' name='date_scope' value='month' data-scope='month' 
                  label.button.secondary for='day3'  Месяц
            li
              .check-button
                input#day4 type='radio' name='date_scope' value='quarter' data-scope='quart' 
                  label.button.secondary for='day4'  Квартал
            li
              .check-button
                input#day5 type='radio' name='date_scope' value='year' data-scope='year' 
                  label.button.secondary for='day5'  Год
            li.hide
              .check-button
                input.custom-datescope type='radio' name='date_scope' value=''
        .small-5.columns.text-right
          .row
            .small-1.columns.padding-r-0
              label.inline.margin-r-0 for='date_from' От:
            .small-3.columns
              input#date_from.margin-b-0.no-datescope name='date_start' type='text' value=''
            .small-1.columns.padding-r-0
              label.inline.margin-r-0 for='date_to' До:
            .small-3.columns
              input#date_to.margin-b-0.no-datescope type='text' name='date_end' value=''
            .small-4.columns
              a.button.secondary.filter-button.expand
                svg.icon.icon-calendar viewBox='0 0 16 16'
                  use xlink:href='#icon-calendar'
                span= ' Показать'
              .loader.hide.text-center.padding-10
                .movingBallGWrapper
                  .movingBallLineG
                  .movingBallG
  .medium-9.columns.left
    .panel
      .row
        #graph-lines-region.medium-12.columns style='height: 270px; min-width: 310px'
      br
  #type-selectors-region.medium-3.columns
    ul.nav-tab.side-nav
      li.active
        a
          svg.icon.xlarge.icon-st-all viewBox='0 0 16 16'
            use xlink:href='#icon-st-all'
          | Общая
      li
        a href='#/stats/conversions'
          svg.icon.xlarge.icon-st-convers viewBox=('0 0 16 16') 
            use xlink:href='#icon-st-convers' 
          | Конверсии
  #bottom-filterbar.large-12.columns
    .panel.tools-panel
      .row
        .large-7.columns.text-left.padding-r-0 style='padding-top: 8px'
          span.small-size.weight-light Пожалуйста, учитывайте, что статистика отображается с задержкой в 10 минут.
        .large-5.columns.text-right
          ul.groups.button-group.radius.right 
            li
              .check-button
                input#none.grouper.checked type='radio' name='grouping' value='no_grouping' checked=''
                  label.button.secondary for='none' Всего
            li
              .check-button
                input#offer_group.grouper type='radio' name='grouping' value='offer_grouping'
                  label.button.secondary for='offer_group' По оферам
            li
              .check-button
                input#campaign_group.grouper type='radio' name='grouping' value='campaign_grouping'
                  label.button.secondary for='campaign_group' По кампаниям

  .large-12.columns
    .row
      #tables-region.large-12.columns
