= form_for @news, url: { action: 'create' } do | f |
  .field
    = f.label 'Заголовок'
    = f.text_field :title
  .field
    = f.label 'Краткое содержание новости'
    = f.text_area :short_content, rows: 10
  .field
    = f.label 'Текст'
    = f.text_area :content, rows: 10
  .actions = f.submit 'Сохранить', class: 'button'
