h1 Новости

table
  thead
    tr
      th Заголовок
      th Текст новости
      th
      th
      th

  tbody
    - @news.each do |news|
      tr
        td = news.title
        td = news.content
        td = link_to 'Показать', admin_news_path(news)
        td = link_to 'Редактировать', edit_admin_news_path(news)
        td = link_to 'Удалить', admin_news_path(news), data: {:confirm => 'Вы уверены?'}, :method => :delete

br

= link_to 'Создать новость', new_admin_news_path
