p#notice = notice

p
  strong Заголовок:
  = @news.title
p
  strong Текст новости:
  = @news.content

= link_to 'Редактировать', edit_admin_news_path(@news)
'|
= link_to 'Назад', admin_news_index_path
