#alert-region.hide
.wrapper
  .row
    #sidebar-region
    .small-12.medium-12.large-12.columns
      #topbar-region style='position:fixed; width:100%; z-index:2; left:0px'

      #main-region.margin-t-60

      #modal-wrapper.reveal-modal.small data-reveal=''
        a.close-reveal-modal &#215;
        #modal-region
        javascript:
          $( document ).foundation('tooltip', {})

javascript:
    $( function() {
      RichAdmin.start({
        environment: "#{ Rails.env }"
      });
    });
