= form_for @faqs, url: { action: 'create' } do | f |
  .field
    = f.label :Вопрос
    = f.text_field :question
  .field
    = f.label :Ответ
    = f.text_area :answer, rows: 10
  .actions = f.submit 'Сохранить', class: 'button'
