h1 Вопросы

table
  thead
    tr
      th Вопрос
      th Ответ
      th
      th
      th

  tbody
    - @faqs.each do |faq|
      tr
        td = faq.question
        td = faq.answer
        td = link_to 'Показать', admin_faq_path( faq )
        td = link_to 'Редактировать', edit_admin_faq_path( faq )
        td = link_to 'Удалить', admin_faq_path( faq ), data: {:confirm => 'Вы уверены?'}, :method => :delete

br

= link_to 'Создать вопрос', new_admin_faq_path
