.row

  h1 Создать вопрос

  .large-6.columns
  
    == render 'form_new'
    = link_to 'Назад', admin_faqs_path, class: 'button'
  
  .large-6.columns.left.panel
    
    p Доступна HTML разметка текста, например
    
    p Два и более пробелов в конце строки - новая строка
    p
      h1 = "# Заголовок типа H1 #"
    p
      h2 = "## Заголовок типа H2 ##"
    p
      h3 = "### Заголовок типа H3 ###"
    p  
      strong = "**жирный**"
    p
      em = "*курсив*"
