= form_for @wallet do |f|
  - if @wallet.errors.any?
    #error_explanation
      h2 = "#{pluralize(@wallet.errors.count, "error")} prohibited this wallet from being saved:"
      ul
        - @wallet.errors.full_messages.each do |message|
          li = message
  = f.select :kind, [ [ "Webmoney WMR", :WMR ], [ :PayPal, :paypal ], [ :Visa, :visa ], [ :MasterCard, :mastercard ] ]
  = f.text_field :number

  .actions = f.submit 'Save'
