h1 Listing personal_wallets

table
  thead
    tr
      th
      th
      th

  tbody
    - @wallets.each do |wallet|
      tr
        td = link_to 'Show', wallet
        td = link_to 'Edit', edit_wallet_path(wallet)
        td = link_to 'Destroy', wallet, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Wallet', new_wallet_path
