.row
  .small-9.columns
    select.date-scope style='height: 1.8rem' name='date_scope'
      option value='current_week' selected='true' Текущая неделя
      option value='previous_week' Предыдущая неделя
      option value='current_month' Текущий месяц
      option value='previous_month' Предыдущий месяц
  .small-3.columns
    a.button.secondary.disabled.expand Обновить
.row
  .small-12.columns
    .graph-region
