= form_for( Dealer.new, as: :dealer, remote: true, url: password_path( :dealer ), html: { method: :post, class: 'restore-password' } ) do |f|
  .row
    .large-12.columns

      p.input-bg
        input.restore-email placeholder='E-mail' name='dealer[email]' type='text'
        svg.icon.icon-inp-email viewBox=('0 0 16 16')
          use xlink:href='#icon-inp-email'

      ul.block-grid.small-block-grid-2
      .row
        .small-5.columns
          a.i-remember Скрыть
        .small-7.columns.text-right
          button.radius.margin-b-0 name='commit' type='submit'
            svg.icon.small.icon-key viewBox=("0 0 16 16")
              use xlink:href="#icon-key"
            | Подтвердить
