.row
  .panel.small-12.medium-12.large-12.columns
    h2.padding-t-10 Восстановление пароля

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token

      = f.label :password, 'Новый пароль'
      = f.password_field :password, autofocus: true, autocomplete: 'off'

      = f.label :password_confirmation, 'Подтверждение'
      = f.password_field :password_confirmation, autocomplete: 'off'

      button.radius name='commit' value='submit' Сохранить и войти
