.row
  .panel.small-12.medium-12.large-12.columns
    h2.padding-t-10 Забыли пароль?

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      = f.label :email
      = f.email_field :email, autofocus: true

      button.radius name='commit' value='submit' Отправить инструкции по восстановлению пароля
