.large-6
  = form_for @seller, url: {action: "create"} do |f|
      = f.label "Имя рекламодателя"
      = f.text_field :seller_name
      = f.label "Страница рекламоодателя"
      = f.text_field :seller_url
      = f.label "Контактное лицо"
      = f.text_field :contact_name
      = f.label "Контактный телефон"
      = f.text_field :contact_phone
      = f.label "Контактный email"
      = f.text_field :contact_email
      = f.label "Активация рекламодателя"   
      input#activeTrue name="seller[active]" type="radio" value="true" 
        label for="activeTrue" Включить
      input#activeFalse name="seller[active]" type="radio" value="false" 
        label for="activeFalse" Выключить
      = f.submit "Сохранить", class: 'button'
