.large-6
  = form_for @seller, url: {action: "update"} do |f|
      = f.label "Имя рекламодателя"
      = f.text_field :seller_name
      = f.label "Страница рекламоодателя"
      = f.text_field :seller_url
      = f.label "Контактное лицо"
      = f.text_field :contact_name
      = f.label "Контактный телефон"
      = f.text_field :contact_phone
      = f.label "Контактный email"
      = f.text_field :contact_email
      = f.label "Активация рекламодателя"   
      = f.radio_button( "active", "true", checked: @seller.active == true )
      span' Активен
      = f.radio_button( "active", "false", checked: @seller.active == false )
      span' Неактивен
      = f.submit "Сохранить", class: 'button'
