= link_to @seller.seller_name, admin_seller_path( @seller ), class: 'button'

table
  thead
    tr
      th Ожидает начисления
      th Начислено
      th Переходов
      th Подписок
      th Ребиллов
      th Отписок
  tbody
    tr
      td #{@balance.waiting} руб.
      td #{@balance.confirmed} руб.
      td #{@balance.onlypay_redirect}
      td #{@balance.onlypay_subscribe}
      td #{@balance.onlypay_rebill}
      td #{@balance.onlypay_unsubscribe}
