= link_to @seller.seller_name, admin_seller_path( @seller ), class: 'button'

.row.large-4.left
  = form_tag( admin_seller_recent_stats_path, method: "get") do
    .large-6.columns
      = label_tag(:start_date, "StartDate")
      = text_field_tag 'start_date', params[ :start_date ] || Time.zone.now.strftime('%d-%m-%Y')
      = button_tag 'Показать', class: 'button'
table
  thead
    tr
      th Час
      th Ожидает начисления
      th Начислено
      th Переходов
      th Подписок
      th Ребиллов
      th Отписок
  tbody
  - @stats.each do | entry | 
    tr
      td= entry[ :hour] 
      td= entry[ :waiting ]
      td= entry[ :confirmed ]
      td= entry[ :onlypay_redirect ]
      td= entry[ :onlypay_subscribe ]
      td= entry[ :onlypay_rebill ]
      td= entry[ :onlypay_unsubscribe ]

javascript:
  $(function() {
    $( "#start_date" ).datepicker( { dateFormat: "dd-mm-yy" } );
  });
