h1= @seller.seller_name

h4 Действия
ul.button-group 
  li
    = link_to 'Редактировать', edit_admin_seller_path( @seller ), class: 'button'
  li
    = link_to 'Новое предложение', new_admin_offer_path( seller_id: @seller ), class: 'button'
  li
    = link_to 'Общая статистика', admin_seller_common_stats_path( @seller ), class: 'button'
  li
    = link_to 'Почасовая статистика', admin_seller_recent_stats_path( @seller ), class: 'button'

h4 Кампании
- @offers.each do |offer|
  = link_to offer.name, admin_offer_path( offer ), class: 'button'
