.panel.card
  .title.text-center
    h2 #{ @name }
  .view
    - if @kind == 'WMZ'
      h4.light-color Номер кошелька
      p
        b.success-color #{ @number }
    - else
      h4.light-color Код SWIFT
      p
        b.success-color #{ @swift_code }
    .bottom
      a.button.radius.edit_wallet id="#{ @id }" data-reveal-id='modal-wrapper' href="#"
        svg.icon.small.icon-pencil viewBox='0 0 16 16'
          use xlink:href='#icon-pencil'
        | Изменить
