.payments_inside
  .left
    = image_tag 'dollar_and_co.png'
  .right
    h3 ОТЛИЧНЫЙ КОНВЕРТ
    ul
      li Удобная функциональность
      li Быстрая панель управления
      li API Callback
      li API управления аккаунтом
