#main

  .index-panel.info-panel
    .row.inner
      .large-12.columns
        h1.text-center.fz-30.weight-light.margin-b-10 Революционная монетизация мобильного трафика
        p.text-center.large-size.weight-light.margin-b-50.padding-l-40.padding-r-40 Монетизируйте мобильный трафик на лучших премиальных офферах по модели CPI и CPA. Получайте выплаты еженедельно на WebMoney или WIRE. Начните зарабатывать прямо сейчас!
        .title-hr
          h2 ПРЕИМУЩЕСТВА
        .row
          .medium-4.columns.text-center
            = image_tag('preim-world.png')
            h3.fz-30.margin-t-40.margin-b-20.weight-light Всемирный охват
            p.fz-16 Покрытие мирового трафика, от А - Андорра, до Я - Ямайка. Следующая цель - Космос.
          .medium-4.columns.text-center
            = image_tag('preim-platform.png')
            h3.fz-30.margin-t-40.margin-b-20.weight-light Взрывные платформы
            p.fz-16 Поддержка всех Android и iOS устройств, а также Mobile WEB трафика. Сотни офферов под любой мобильный трафик.
          .medium-4.columns.text-center
            = image_tag('preim-currency.png')
            h3.fz-30.margin-t-40.margin-b-20.weight-light Удобные выплаты
            p.fz-16
              | Каждую неделю.
              br/
              | WIRE Transfer ($, €, £)
              br/
              | WebMoney WMZ ($)
              br/
              | скоро: VISA и Mastercard

  .index-panel.work-panel
    .row.inner
      .large-12.columns
        .title-hr
          h2 КАК ЭТО РАБОТАЕТ?
        ul.step-line.no-bullet
          li
            span.circle-icon 1
          li
            span.circle-icon 2
          li
            span.circle-icon 3
          li
            span.circle-icon 4
        ul.q-link.no-bullet
          li.q-login
            = image_tag('ico-preim-login.png')
            h3 Зарегистрируйтесь и Войдите
          li.q-mobi
            = image_tag('ico-preim-mobi.png')
            h3 Выбирайте Офферы
          li.q-stat
            = image_tag('ico-preim-stat.png')
            h3 Рекламируйте
          li.q-handmoney
            = image_tag('ico-preim-handmoney.png')
            h3 Зарабатывайте Прибыль
        //.q-content
          //q#q-login.active
            //| Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя.
          //q#q-mobi
            //| Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          //q#q-stat
            //| Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э.
          //q#q-handmoney
            //| Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст.
        hr/
        .text-center
          a.button.reg-transparent.radius.become href="#"
            svg.icon.icon-coin viewbox=("0 0 16 16")
              use xlink:href="#icon-coin"
            | Зарегистрироваться и войти

  .index-panel.preim-panel
    .row.inner
      .large-12.columns
        .title-hr
          h2 С НАМИ ВЫГОДНО и УДОБНО!
        .row
          .medium-6.columns
            h3
              svg.icon.icon-star-line viewbox=("0 0 37 37") 
                use xlink:href="#icon-star-line"
              | Сотни Премиальных офферов
            p
              | Множество офферов идеально подходящих под ваши нужды, включая мобильные приложения, мобильные подписки (pin-submit), сервисы sweepstake, знакомства, сервисы для adult трафика. 
              | И это, не считая супер-высоких отчислений до 90%.
          .medium-6.columns
            h3
              svg.icon.icon-payment-line viewbox=("0 0 37 37")
                use xlink:href="#icon-payment-line"
              | Еженедельные выплаты ($)
            p
              | 100% быстрые, безопасные и удобные выплаты заработанных средств в WebMoney, WIRE Transfer, а также, в скором времени прямиком на карты VISA, Mastercard любых банков по всему миру.
        .row
          .medium-6.columns
            h3
              svg.icon.icon-toprating-line viewbox=("0 0 37 37")
                use xlink:href="#icon-toprating-line"
              | Высочайшие показатели CR и EPC
            p
              | Высокотехнологичные решения позволяют контролировать, а также быстро обрабатывать трафик и тем самым улучшают конверсию. По вашему запросу предоставим вам показатели под различные источники и тематики трафика.
          .medium-6.columns
            h3
              svg.icon.icon-target-line viewbox=("0 0 44 37")
                use xlink:href="#icon-target-line"
              | Рекламный кабинет myTarget
            p
              | Рекламный кабинет myTarget позволит покупать высококачественный трафик в крупнейших социальных сетях России – VK.com, OK.ru. Кроме того, с помощью нашего рекламного кабинета Вы экономите на уплате налога НДС (VAT).
        .row
          .medium-6.columns
            h3
              svg.icon.icon-supportman-line viewbox=("0 0 44 44")
                use xlink:href="#icon-supportman-line"
              | Ваш персональный менеджер
            p
              | Профессиональный аккаунт менеджер поможет Вам в решении любых трудностей, подскажет куда лить трафик, ответит даже на самые сложные вопросы. Доступны различные методы связи: Skype, ICQ, E-mail и Jabber.
          .medium-6.columns
            h3
              svg.icon.icon-app-line viewbox=("0 0 37 38")
                use xlink:href="#icon-app-line"
              | Удобная платформа и API
            p
              | Наша платформа спроектирована так, чтобы давать партнеру ясное и быстрое понимание информации, удобно анализировать доходность и повышать ваш потенциал. Также для вашего удобства реализовано API управления аккаунтом и Postback URL.

  .index-panel.partner-panel
    .row.inner
      .large-12.columns
        .title-hr
          h2 НАШИ ПАРТНЕРЫ
        ul.partners-logo.no-bullet
          - icons = ['aliexress', 'apus', 'aviasales', 'baidu', 'dolphin', 'gett', 'hola', 'lazyswipe', 'leomaster', 'mobogenie', 'mycom', 'opera', 'pricaylock', 'safe', '360cn', 'ucbrowser', 'adjust', 'appsflyer', 'boyaa', 'elex', 'gameinsight', 'goodgame', 'gow', 'hotelhook', 'king', 'kingsoft', 'mozzi', 'sam', 'seaman2u', 'tap4fun', 'williamhill']
          - icons.each do | icon |
            li
              a href="#"
                = image_tag("partners/#{ icon }.png")

  .index-panel.reg-panel data-vide-bg=("mp4: video/money, webm: video/money, ogv: video/money, poster: video/money") data-vide-options=("position: 0% 50%") 
    .row.inner
      .large-12.columns
        h3 Думаете? Взвешиваете?… Многие прямо сейчас делают большие деньги. Присоединяйтесь прямо сейчас!
        a.button.reg-transparent.radius.become href="#"
          svg.icon.icon-coin viewbox=("0 0 16 16")
            use xlink:href="#icon-coin"
          | Зарегистрироваться и войти

javascript:
  $(document).foundation();
