    <noscript>
      <style>
      .step {
        width: 100%;
        position: relative;
      }
      .step:not(.active) {
        opacity: 1;
        filter: alpha(opacity=99);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
      }
      .step:not(.active) a.jms-link{
        opacity: 1;
        margin-top: 40px;
      }
      </style>
    </noscript>


      <section id="jms-slideshow" class="jms-slideshow">
        <div class="step" data-color="color-1" data-x="2000" data-y="1000" data-z="3000" data-rotate="-20">
          <div class="jms-content">
            <h3>WAPCLICK ПОДПИСКИ<h3>
            <ul>
              <li>Ежедневные ребиллы</li>
              <li>Выкуп трафика</li>
              <li>Под любую тематику</li>
            </ul>
          </div>
          <%= image_tag 'wapclick.png' %>
          <div class='icons'>
            <%= image_tag 'wapclick_icons.png' %>
          </div>
        </div>
        <div class="step" data-color="color-2" data-x="1000" data-z="2000" data-rotate="20">
          <div class="jms-content">
            <h3>МОБИЛЬНЫЕ ОФФЕРЫ( CPA )<h3>
            <ul>
              <li>Оплаты за действия</li>
              <li>Выкуп трафика</li>
              <li>Под любую тематику</li>
              <li>Ребиллы каждый день</li>
            </ul>
          </div>
          <%= image_tag 'cpa.png' %>
          <div class='icons'>
            <%= image_tag 'cpa_icons.png' %>
          </div>
        </div>
        <div class="step" data-color="color-3" data-x="2000" data-y="1500" data-z="1000" data-rotate="20">
          <div class="jms-content">
            <h3>МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ<h3>
            <ul>
              <li>Google Play</li>
              <li>App Store</li>
              <li>Windows Store</li>
              <li>Ребиллы каждый день</li>
            </ul>
          </div>
          <%= image_tag 'apps.png' %>
          <div class='icons'>
            <%= image_tag 'apps_icons.png' %>
          </div>
        </div>
      </section>


    <script type="text/javascript">
      $(function() {
      
        $( '#jms-slideshow' ).jmslideshow();
        
      });
    </script>
