.stats_inside
  .left
    = image_tag 'mac.png'
  .right
    h3 СТАТИСТИКА И API
    ul
      li Удобная и функциональная
      li Быстрая панель управления
      li API Callback
      li API управления аккаунтом
      li Потоки трафика
