h1 Выплаты по запросу

.row.left
  = link_to 'Назад', admin_payments_path, class: 'button'

.row.left
  = form_tag( export_admin_payments_path, method: :post) do
    ul.button-group
      li
        = button_to 'Выгрузить CSV выплаты по запрocу', export_admin_payments_path( format: 'csv' ), class: 'button'
      li      
        table
          thead
            tr
              th WebMoney кошелёк
              th Сумма к выплате
              th Id партнёра
              th Email партнёра
              th Дата
              th Статус
              th Выбрать
          tbody
            - @new_requests.each do |request|
              tr
                td= request.dealer.money_options.wallet.number
                td= request.confirmed
                td= request.dealer_id
                td= request.dealer.email
                td= request.created_at.strftime('%F')
                td= request.status
                td= check_box_tag 'chosen_request_ids[]', request.id, true
