h1 Выплаты

ul.button-group
  li
    = link_to 'Обработать новые запросы', handle_request_form_admin_payments_path, class: 'button'
  li
    = link_to 'Выполнить запросы', execute_request_form_admin_payments_path, class: 'button'
  li
    = link_to 'Отклонить запросы', cancel_request_form_admin_payments_path, class: 'button'

table
  thead
    tr
      th WebMoney кошелёк
      th Сумма к выплате
      th Id партнёра
      th Email партнёра
      th Дата
      th Статус
  tbody
    - @recent_requests.each do |request|
      tr
        td= request.dealer.money_options.wallet.number
        td= request.confirmed
        td= request.dealer_id
        td= request.dealer.email
        td= request.created_at.strftime('%F')
        td= request.status
