.row.padding-t-10
  .small-10.small-offset-2.medium-8.medium-offset-4.large-6.large-offset-3.columns.expand
    - if flash[:notice]
      .row
        .small-12.columns
          .alert-box.secondary data-alert='' style='width: 100%'
            span.expand = flash[:notice]
    .panel
      .row
        .small-12.columns
          .text-center
            h2 Настройка уведомлений
      .row.padding-t-30
        .small-12.columns
          = form_for @n_settings do | f |
            .row
              .small-12.columns
                label for='ticket_email'
                  = f.check_box :ticket_email
                  span.large Получать уведомления о новых ответах в тикетах
            .row
              .small-12.columns
                label for='offer_email'
                  = f.check_box :offer_email
                  span.large Получать уведомления о включении или отключении используемых офферов
            .row
              .small-12.columns
                button.action.expand.radius.large Сохранить
