#window-sms-install.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button.close data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
          span.sr-only Close
        h4.text-center Что делать дальше
      .modal-body
        .install-info
          img alt="" src=(image_url("landing/#{ landing_os }/images/window-sms-install.jpg"))
            img.app-ico alt="" src=(@offer.offer_icon.file_url)
        ul.list-numb.three-col.list-unstyled.mt-30
          li
            b.num 1.
            | Откройте полученную SMS на устройстве, на которое Вы хотите установить приложение
          li
            b.num 2.
            | Перейдите по ссылке на установку приложения, указанной в SMS
          li
            b.num 3.
            | Установите приложение на свое устройство
