= form_for @offer, html: { multipart: true }, url: { action: action } do | f |
  .row
    .large-6.columns
        = f.label 'Рекламодатель'
        = f.collection_select :seller_id, Seller.all, :id, :seller_name, { selected: @offer.seller ? @offer.seller.id : nil }
        = f.label 'Наименование'
        = f.text_field :name
        = f.label 'Спрятанный'
        = f.check_box :hidden
        = f.label 'Описание'
        = f.text_area :description
        = f.label 'Ссылка не превью'
        = f.text_field :preview_url        
        - if @offer.icon
          = image_tag( @offer.icon_url )
        = f.label 'Значок'
        = f.file_field :icon
        - if @offer.banner
          = image_tag( @offer.banner_url )
        = f.label 'Баннер'
        = f.file_field :banner
        .row
          .large-12.columns
            = f.label 'Тип оффера:'
            .padding-b-10 = f.select :kind, options_for_select( [ ['CPA', 'cpa' ],['WapClick', 'wapclick'],['Приложение','apps_advert']], selected: @offer.kind )
        .row.offer_fetcher class=('hide' unless @offer.kind == 'apps_advert' )
          .row
            .large-5.columns
              select#netw-id
                option selected='' value='revenues' Performance Revenues
                option value='appflood' AppFlood
                option value='everyads' Everyads
            .large-2.columns
              input.ext-id-container type='text' name='offer[external_id]' value="#{@offer.external_id}" placeholder='ID оффера'
            .large-5.columns
              a.button.tiny.expand.affilate-offer Запросить оффер
          .row
            .large-12.columns.padding-b-10
              select#offer_os name='offer[apps_os]'
                option value='' Выберите операционную систему
                option value='ios'         selected=( @offer.apps_os == 'ios' )         iOS
                option value='ipod+iphone' selected=( @offer.apps_os == 'ipod+iphone' ) iPod + iPhone
                option value='ipad'        selected=( @offer.apps_os == 'ipad' )        iPad
                option value='android'     selected=( @offer.apps_os == 'android' )     Android
        = f.label 'Техническая ссылка'
        = f.text_field :url
        .row
          .large-12.columns
            h4 Цели:
        .targets
          - if action == :update
            - @offer.offer_targets.each_with_index do |ot, index|
              = render partial: 'target_fields', locals: { otid: index, name: ot.name, price: ot.price, description: ot.description, id: ot.id }
          - else
            = render partial: 'target_fields', locals: { otid: 0, name: '', price: '', description: '', id: '' }
        .row
          .large-12.columns
            a.add-target.button.secondary.tiny.expand Добавить цель

    .large-6.columns
        .row
          h4 Регионы:
          textarea#offer_country_list name='offer[country_list]'
            | #{ @offer.country_list }
        .row
          h4 Флаги:
          ul.inline-list
            li
              label
                = check_box 'offer', 'adult', {}, 'adult', 'common'
                | 18+
            li
              label
                = check_box 'offer', 'websites', {}, 'true', 'false'
                | Вебсайты
            li
              label
                = check_box 'offer', 'dorways', {}, 'true', 'false'
                | Дорвеи
            li
              label
                = check_box 'offer', 'context', {}, 'true', 'false'
                | Контекстная реклама
            li
              label
                = check_box 'offer', 'brand_context', {}, 'true', 'false'
                | Контекстная реклама на бренд
              li
              label
                = check_box 'offer', 'teaser', {}, 'true', 'false'
                | Тизерная реклама
            li
              label
                = check_box 'offer', 'target', {}, 'true', 'false'
                | Таргетированная реклама
            li
              label
                = check_box 'offer', 'social', {}, 'true', 'false'
                | Социальные сети
            li
              label
                = check_box 'offer', 'email', {}, 'true', 'false'
                | e-mail рассылка
            li
              label
                = check_box 'offer', 'cashback', {}, 'true', 'false'
                | CashBack
            li
              label
                = check_box 'offer', 'clickpopunder', {}, 'true', 'false'
                | ClickUnder/PopUnder
            li
              label
                = check_box 'offer', 'brokers', {}, 'true', 'false'
                | Брокеры
        .row
          h4 Тариф в $:
          = f.text_field :tariff
          p Сколько первоначально получим за этот оффер мы (диллер получит 80% от указанной суммы)
  hr
  .row
    .large-6.columns
        = f.submit "Сохранить", class: 'button'
