.offer-target
  .row
    .large-7.columns
      input name="offer[offer_targets_attributes][#{otid}][id]" type='hidden' value=id
      input name="offer[offer_targets_attributes][#{otid}][name]" placeholder='Цель' type='text' value=name
    .large-4.columns
      input name="offer[offer_targets_attributes][#{otid}][price]" placeholder='Цена' type='number' step='0.01' value=price
    .large-1.columns
      a.delete-target.fi-x
      input.destroy name="offer[offer_targets_attributes][#{otid}][_destroy]" value='false' type='hidden'
  .row
    .large-12.columns
      textarea name="offer[offer_targets_attributes][#{otid}][description]" placeholder='Описание (опционально)'
        = description
