h1 Рекламные предложения

= link_to 'Новое предложение', new_admin_offer_path, class: 'button'
p

h2 Активные офферы

ul
  - @offers.each do | offer |
    li= link_to offer.name, admin_offer_path( offer )

h2 Отключенные офферы

ul
  - @disabled_offers.each do | offer |
    li= link_to offer.name, admin_offer_path( offer )