h1= @offer.readable_name
= image_tag @offer.icon_url if @offer.icon

table
  thead
    tr
      th Название
      th Цена
      th Описание (если есть)
  tbody
  - @offer.offer_targets.each do |ot|
    tr
      th= ot.name
      th= ot.price
      th= ot.description

ul.button-group
  li= link_to 'Редактировать', edit_admin_offer_path( @offer ), class: 'button'
  li= link_to 'Рекламодатель', admin_seller_path( @offer.seller ), class: 'button'
  li= link_to 'Отключить оффер', admin_offer_disable_path( @offer ), class: 'button'
