.row
  .title.text-center
    h2 style='line-height: 1.21rem' Условия оффера
  .row.margin-b-10
    .small-2.columns
      a.th
        img alt="" src=( @icon_url )
    .small-10.columns
      h3.margin-b-0
        = @name
        - if @weblanding_ready
          span.margin-l-10.label.success Доступен web лендинг
      p == @description
  .row
    .small-12.columns
      h4.margin-b-0.light-color Условия программы
  .row.margin-b-10
    .small-3.columns
      h4.weight-bold.margin-t-0.margin-b-0.line-12 GEO:
    .small-9.columns
      ul.inline-list
        - for country in @countries
          li
            img.inline src=( country.image_url ) = country.name
  .row
    .small-3.columns
    .small-9.columns.margin-b-10
      a target='_blank' href="offers/#{ @id }/countries" Показать ISO коды стран
  - if @restricted_countries.length > 0
    .row.margin-b-10
      .small-3.columns
        h4.weight-bold.margin-t-0.margin-b-0.line-12 Запрещенные страны:
      .small-9.columns
        ul.inline-list
          - for country in @restricted_countries
            li
              img.inline src=( country.image_url ) = country.name
  - if @readable_os_version
    .row.margin-b-10
      .small-3.columns
        h4.weight-bold.margin-t-0.margin-b-0.line-12 Версия #{ @readable_os }:
      .small-9.columns
        = @readable_os_version
  .row.margin-b-10
    .small-3.columns
      h4.weight-bold.margin-t-0.margin-b-0.line-12 Цель:
    .small-9.columns
      - if @kind == 'apps_advert'
        | Установить и запустить приложение
      - if @kind == 'cpa'
        | Конверсия
      - else
        | Подписка
  .row.margin-b-10
    .small-3.columns
      h4.weight-bold.margin-t-0.margin-b-0.line-12 Доход:
    .small-9.columns
      = '$' + @dealer_revenue.toFixed(2)
  - if @conversion_type.length > 0
    .row.margin-b-10
      .small-3.columns
        h4.weight-bold.margin-t-0.margin-b-0.line-12 Тип конверсии:
      .small-9.columns
        = @conversion_type
  - if @opsos.length > 0
    .row.margin-b-10
      .small-3.columns
        h4.weight-bold.margin-t-0.margin-b-0.line-12 Операторы:
      .small-9.columns
        = @opsos
  - if @banner_links.length > 0
    .row.margin-b-10
      .small-3.columns
        h4.weight-bold.margin-t-0.margin-b-0.line-12 Баннеры:
      .small-9.columns
        a target='_blank' href=( @banner_links ) = @banner_links
  - if @preview_url.length > 0  
    .row.margin-b-20
      .small-3.columns
        h4.weight-bold.margin-t-0.margin-b-0.line-12 Предпросмотр:
      .small-9.columns
        a target='_blank' href=( @preview_url ) = @preview_url
  .row.margin-b-10
    .small-12.columns
      h4.margin-b-0.light-color Правила Оффера
  - if @rules.length > 0
    .row.margin-b-10
      .medium-12.columns
        == @rules
  .row.margin-b-10
    .medium-6.columns
      .row.margin-b-10
        .small-6.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 18+ Источники:
        .small-6.columns.text-right
          - unless @adult == 'common'
            span.circle-icon.medium.success-color
              svg.icon.icon-ok viewBox=('0 0 16 16')
                use xlink:href='#icon-ok'
          - else
            span.circle-icon.medium.alert-color
              svg.icon.icon-no viewBox=('0 0 16 16')
                use xlink:href='#icon-no'
      .row.margin-b-10
        .small-8.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 Мотивированные установки:
        .small-4.columns.text-right
          - if @motivated
            span.circle-icon.medium.success-color
              svg.icon.icon-ok viewBox=('0 0 16 16')
                use xlink:href='#icon-ok'
          - else
            span.circle-icon.medium.alert-color
              svg.icon.icon-no viewBox=('0 0 16 16')
                use xlink:href='#icon-no'
      .row.margin-b-10
        .small-6.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 Редирект:
        .small-6.columns.text-right
          - if @redirect
            span.circle-icon.medium.success-color
              svg.icon.icon-ok viewBox=('0 0 16 16')
                use xlink:href='#icon-ok'
          - else
            span.circle-icon.medium.alert-color
              svg.icon.icon-no viewBox=('0 0 16 16')
                use xlink:href='#icon-no'
      .row.margin-b-10
        .small-6.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 Социальные сети:
        .small-6.columns.text-right
          - if @social
            span.circle-icon.medium.success-color
              svg.icon.icon-ok viewBox=('0 0 16 16')
                use xlink:href='#icon-ok'
          - else
            span.circle-icon.medium.alert-color
              svg.icon.icon-no viewBox=('0 0 16 16')
                use xlink:href='#icon-no'
      .row.margin-b-10
        .small-8.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 Clickunder (Popunder):
        .small-4.columns.text-right
          - if @clickpopunder
            span.circle-icon.medium.success-color
              svg.icon.icon-ok viewBox=('0 0 16 16')
                use xlink:href='#icon-ok'
          - else
            span.circle-icon.medium.alert-color
              svg.icon.icon-no viewBox=('0 0 16 16')
                use xlink:href='#icon-no'
      .row.margin-b-10
        .small-6.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 Push-уведомления:
        .small-6.columns.text-right
          - if @allow_push
            span.circle-icon.medium.success-color
              svg.icon.icon-ok viewBox=('0 0 16 16')
                use xlink:href='#icon-ok'
          - else
            span.circle-icon.medium.alert-color
              svg.icon.icon-no viewBox=('0 0 16 16')
                use xlink:href='#icon-no'
      .row
        .small-8.columns
          h4.weight-bold.margin-t-0.margin-b-0.line-12 Обман Пользователя:
        .small-4.columns.text-right
          span.circle-icon.medium.alert-color
            svg.icon.icon-no viewBox=('0 0 16 16')
              use xlink:href='#icon-no'
  - if @offer_screenshots.length > 0
    .row
      .small-12.columns
        h4.margin-b-0.light-color Пример лендинга
    .row.margin-b-0
      .small-12.columns
        ul.inline-list data-clearing=''
          - for scr in @offer_screenshots
            li
              a href=(scr.file.url)
                img src=(scr.file.thumb.url) height='90'

  a.close-reveal-modal ×
