.row
  .large-12.columns
    a.button.action.radius.right.margin-b-20 data-reveal-id='New' href='#' 
      svg.icon.icon-tb-faq viewBox='0 0 16 16'
        use xlink:href='#icon-tb-faq'
      | Задать вопрос
    .title
      h2 Поддержка

.row
  .medium-12.columns
    /.row
    /  .large-12.columns
    /    .panel.tools-panel
    /      .row
    /        .small-8.columns
    /          .row
    /            .large-4.columns
    /              .row
    /                .small-3.columns
    /                  label.inline.small-size Статус:
    /                .small-9.columns
    /                  select.small.margin-0
    /                    option value='husker'  Открыт
    /                    option value='starbuck'  Starbuck
    /                    option value='hotdog'  Hot Dog
    /                    option value='apollo'  Apollo
    /            .large-4.end.columns
    /              .row
    /                .small-3.columns
    /                  label.inline.small-size Тематика:
    /                .small-9.columns
    /                  select.small.margin-0
    /                    option value='husker'  Все
    /                    option value='starbuck'  Starbuck
    /                    option value='hotdog'  Hot Dog
    /                    option value='apollo'  Apollo
    /        .small-4.columns.text-right
    /          a.button.secondary.small data-dropdown='drop2' href='#' 
    /            span#startDate 2012-02-20
    /            | \-
    /            span#endDate 2012-02-25
    /            span.icon.calendar.i-right
    /          #drop2.f-dropdown.content data-dropdown-content='' 
    /            p Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!
    table.shadow
      thead
        tr
          th №
          th Тема
          th Тематика
          th.text-center
            svg.icon.info-color.large.i-right.icon-update viewBox='0 0 16 16'
              use xlink:href='#icon-update'
          th.text-center
            svg.icon.info-color.large.i-right.icon-mail viewBox='0 0 16 16'
              use xlink:href='#icon-mail'
          th.text-center Статус

