.wrapper
  .row
    #sidebar-region
    .small-12.medium-12.large-12.columns
      #topbar-region style='position:fixed; width:100%; z-index:2; left:0px'
      #main-region.margin-t-60
        .medium-12.columns
          .padding-t-20 style='height:125px'
            .bowlG
              .bowl_ringG
              .ball_holderG
                .ballG
      #modal-wrapper.reveal-modal.small data-reveal=''
        a.close-reveal-modal &#215;
        #modal-region
      #footer.margin-l-0
        .small-3.columns
          = image_tag 'footer-logo.svg', alt: 'RICHPAYS'
        .small-9.columns.text-right
          | Прибыльные решения по монетизации мобильного трафика
#alert-region style='z-index: 999999'
  div style='min-height: 0px; max-height: 9000px'
javascript:
    $(function() {
      Rich.start({
        environment: "#{ Rails.env }"
      });
    });
- if Rails.env.production? && current_dealer.sign_in_count < 3
  javascript:
    var _ubaq = _ubaq || [];
    _ubaq.push(['trackGoal', 'convert']);
    (function() {
    var ub_script = document.createElement('script');
    ub_script.type = 'text/javascript';
    ub_script.src = 
      ('https:' == document.location.protocol ? 'https://' : 'http://') + 
      'd3pkntwtp2ukl5.cloudfront.net/uba.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ub_script, s);
    }) ();
