td = @id
td
  a href="/admin#/tickets/#{ @id }" = @title
td = @dealer_email
td = @updated_at
td
  - if @closed
    | Закрыт
  - else
    - if @last_answered == 'dealer'
      | Ожидает ответа
    - else
      | Открыт
