h1 Тикеты

table
  thead
    tr
      th Партнер
      th width = '700' Тикеты

  tbody
    - @tickets.each do | ticket |
      tr
        td = link_to ticket.dealer.email, admin_dealer_path( ticket.dealer )
        td
          .panel
            - ticket.ticket_messages.each_with_index do | ticket |
              div
                - if ticket.ownership == 'dealer'
                  p.text-right
                    strong' Партнер:
                    = ticket.message_text
                - else
                  p.text-left
                    strong' Поддержка:
                    = ticket.message_text
          = render 'answer_form', ticket: ticket
