p#notice = notice

p
  strong Title:
  = @ticket.title
p
  strong Content:
  = @ticket.content
p
  strong Dealer:
  = @ticket.dealer_id

= link_to 'Edit', edit_admin_ticket_path(@ticket)
'|
= link_to 'Back', admin_tickets_path
