= form_for( resource, as: resource_name,
            url: session_path( resource_name ),
            remote: true, html: { class: 'welcome_form' } ) do | f |
  .row
    .large-12.columns
      p.input-bg
        input#sign_in_input placeholder='E-mail' name='dealer[email]' type='text'
        svg.icon.icon-inp-email viewBox=('0 0 16 16')
          use xlink:href='#icon-inp-email'
      p.input-bg
        input#password placeholder='Пароль' name='dealer[password]' type='password'
        svg.icon.icon-inp-close viewBox=('0 0 16 16')
          use xlink:href='#icon-inp-close'

      ul.block-grid.small-block-grid-2
        li
          a.i-forget Забыли пароль?
        li.text-right
          button.radius.expand.margin-b-0 name='commit' type='submit'
            svg.icon.small.icon-key viewBox=("0 0 16 16")
              use xlink:href="#icon-key"
            | Войти
