.row.mt-30
  strong Внимание! Настоятельно рекомендуем прочитать текст настоящего Соглашения! Использование Ресурса возможно только на условиях настоящего Соглашения. Если Вы не принимаете условия настоящего Соглашения в полном объеме, Вы не можете использовать Ресурс #{ domain }.

  p Настоящее Пользовательское соглашение (Далее – «Соглашение») регулирует отношения между администрацией сайта #{ domain }, именуемой далее - «Администрация», и любым лицом, посещающим (пользующимся) сайтом #{ domain }, именуемым далее - «Пользователь».

  p Настоящее Соглашение представляет собой официальное предложение в адрес физических или юридических лиц (Пользователей), которые принимают настоящее Соглашение, в отношении пользования сайтом #{ domain }, на условиях настоящего Соглашения.

  p Администрация и Пользователь совместно именуются - «Стороны», а по отдельности – «Сторона».

  p Настоящее Соглашение в соответствии со статьей 435 Гражданского кодекса РФ является офертой, адресованной любым лицам (далее по тексту — Оферта), и может быть принято лицом не иначе как путем присоединения к Соглашению в целом.

  p Настоящее Соглашение считается заключенным и приобретает силу договора присоединения с момента совершения Пользователем действий по получению информационного контента представленного на сайте, означающих полное и безоговорочное принятие лицом всех условий настоящего Соглашения без каких-либо изъятий и/или ограничений.

  p Каждая Сторона гарантирует другой Стороне, что обладает необходимой право- и дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения Соглашения в соответствии с его условиями.
  ol
    li
      p Термины и определения:
      ul
        li
          p Ресурс #{ domain } – это совокупность связанных между собой веб-страниц, размещенных в сети Интернет по уникальному адресу (URL): <a href="#{ domain }">#{ domain }</a>.
        li
          p Пользовательское соглашение – текст, опубликованный в сети Интернет по адресу: <a href="#{ domain }agreement">#{ domain }agreement</a>,  предоставляющий Пользователям право на пользование Информацией на ресурсе #{ domain }.
        li
          p Оферта – формальное предложение некоторого лица (оферента) определенному лицу (акцептанту), ограниченному или неограниченному кругу лиц заключить сделку (договор) с указанием всех необходимых для этого условий.
        li
          p Пользователь ресурса – любое лицо, принявшее условия настоящего Соглашения и осуществляющее доступ к ресурсу посредством сети Интернет.
        li
          p Администрация – владелец ресурса #{ domain }, осуществляющий управление Ресурсом и взаимодействие с Пользователями, а также совершающий иные действия, связанных с использованием Ресурса.
        li
          p Информация – любые сведения, любой контент, размещенные на Ресурсе #{ domain }.
    li
      p Полным и безоговорочным согласием заключить Договор (далее – Акцептом) является получение доступа к информационному контенту, путем ввода номера телефона, считывания QR-кода, а также получения и использования персональной пользовательской ссылки для скачивания Приложений/Игр/другого контента с магазинов Android Google Play или Apple AppStore, на сайте ресурса: #{ domain }.
    li
      p Акцепт Договора означает, что Пользователь согласен со всеми положениями настоящего предложения, и равносилен заключению Договора и приложений к нему.
    li
      p Пользователь согласен с тем, что Администрацией используются и обрабатываются контактные данные Пользователя.
    li
      p Указав номер телефона для получения ссылки на скачивание информационного контента, Подписчик безусловно соглашается периодически получать СМС-сообщения рекламного характера, направленные как Администрацией, так и третьими лицами по поручению Администрации. При соответствующем желании, Подписчик может в любое время отписаться от получения СМС-сообщений рекламного характера, для этого Подписчик должен заполнить заявку, воспользовавшись формой обратной связи на сайте по адресу <a href="#{ domain }unsubscribe">#{ domain }unsubscribe</a>
    li
      p Если по тем или иным причинам одна или несколько норм настоящего Соглашения являются недействительной или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных норм.
    li
      p Соглашаясь с условиями данного Соглашения, Пользователь (или представитель Пользователя, в т.ч. физическое лицо, должным образом уполномоченное заключить Договор от лица Пользователя) подтверждает и гарантирует Администрации #{ domain }, что:
      ol
        li
          p Пользователь укажет достоверную информацию о себе, в том числе при создании учетной записи (аккаунта).
        li
          p Пользователь:
          ul
            li полностью ознакомился с условиями Соглашения-оферты;
            li полностью понимает предмет Соглашения-оферты;
            li полностью понимает значение и последствия своих действий в отношении заключения и исполнения настоящего Соглашения.
    li Соглашение-оферта вступает в силу с момента согласия Пользователя с условиями настоящего Договора (в момент получения доступа к информационному контенту), срок действия которого не ограничен данным Соглашением-офертой.

  p С уважением, Администрация Ресурса #{ domain }