.container.landing-footer
  ul.list-inline
    li
      a.small href='http://richpays.com' target='_blank' &copy; RichPays Network.
    li
      a.small href=( LandingHelper.landing_domain( request ) + 'agreement' ) target='_blank' Лицензионное соглашение.
