.row.text-center.or-block style=( 'padding-top: 25px' unless @enable_sms_form )
  span class=( 'or' if @enable_sms_form ) ИЛИ
  - if @enable_sms_form
    .col-md-8
      h3.weight-light.mb-20 data-target="#window-sms" data-toggle="modal"
        a.tt href="#" title=("Tooltip on left")
        | Получите SMS с ссылкой
        br  для установки
      = form_for( '', url: LandingHelper.sms_action(request: request, code: @offer_set.redirect_code.code ), remote: true, html: { class: 'link-form', } ) do | f |
        p
          input.form-control.text-center.text-size.md.phone name='phone' data-phone-code='+7' placeholder=("Введите телефон") type="text" /
        p.mb-20
          small Пример: +79998887766
        button.retreive-link.btn.btn-primary
          img.mr-5 alt="" src=(image_url("landing/#{ landing_os }/images/mail.svg"))  Получить ссылку по SMS
  h4.visible-sm.visible-xs.mt-30.weight-light ИЛИ
  div class=( @enable_sms_form ? 'col-md-8' : 'col-md-16' )
    h3.weight-light.mb-20 data-target="#window-qr" data-toggle="modal"
      a.tt href="#" title=("Tooltip on left")
      | Cчитайте QR-код и
      br
      | установите приложение
    p
      img alt="" src=(@offer_set.qr_link) title="" /
