#window-sms.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
          span.sr-only Close
        h4.text-center Инструкция
      .modal-body
        .install-info
          img src=(image_url("landing/#{ landing_os }/images/window-sms.jpg"))
            img.app-ico alt="" src=(@offer.offer_icon.file_url)
        ul.list-numb.list-unstyled.mt-30
          li
            b.num 1.
            | Введите номер телефона вашего мобильного устройства - на него придет бесплатная SMS со ссылкой на установку приложения
          li
            b.num 2.
            | Откройте полученную SMS на устройстве, на которое Вы хотите установить приложение
          li
            b.num 3.
            | Перейдите по ссылке на установку приложения, указанной в SMS
          li
            b.num 4.
            | Установите приложение на свое устройство
#window-qr.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button.close data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
          span.sr-only Close
        h4.text-center Инструкция
      .modal-body
        .install-info
          img src=(image_url("landing/#{ landing_os }/images/window-qr.jpg"))
            img.app-ico alt="" src=(@offer.offer_icon.file_url)
        ul.list-numb.three-col.list-unstyled.mt-30
          li
            b.num 1.
            | Считайте QR-код с помощью устройства, на которое Вы хотите установить приложение
          li
            b.num 2.
            | Перейдите по ссылке на установку приложения, которую Вы получите в результате считывания QR-кода
          li
            b.num 3.
            | Установите приложение на свое устройство
#window-agreement.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
          span.sr-only Close
        h4.text-center Лицензионное соглашение
      .modal-body
        = render partial: 'api/buyer_session/partials/agreement', locals: { domain: 'apst.me' }
= render partial: 'api/buyer_session/partials/modals/next_steps', locals: { landing_os: landing_os }