footer#footer
  h2 Вам понравятся
  .tile
    ul.list-unstyled
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico1.png" /
            span.text-overflow Hay Day
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico2.png" /
            span.text-overflow Let’s farm
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico3.png" /
            span.text-overflow Farmery - Game Nong Trai
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico4.png" /
            span.text-overflow Ферма старого Макдональда
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico1.png" /
            span.text-overflow Hay Day
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico2.png" /
            span.text-overflow Let’s farm
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
      li
        p.mb-5
          a href="#"
            span.mask.mb-10
              img alt="" src="../assets/landing/#{ landing_os }/images/ico3.png" /
            span.text-overflow Farmery - Game Nong Trai
        a href="#"
          | Просмотреть в Itunes
          img alt="" src="../assets/landing/#{ landing_os }/images/next.png" /
