footer#footer
  h2 Вам понравятся
  .tile
    ul.list-unstyled
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico1.png" /
              span.title.text-overflow Hay Day
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico2.png" /
              span.title.text-overflow Let’s farm
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico3.png" /
              span.title.text-overflow Farmery - Game Nong Trai
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico4.png" /
              span.title.text-overflow Ферма старого Макдональда
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico1.png" /
              span.title.text-overflow Hay Day
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico2.png" /
              span.title.text-overflow Let’s farm
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО
      li
        .panel.panel-default
          .panel-heading
            a href="#"
              span.bg
                span
                  img alt="" src="../assets/landing/#{ landing_os }/images/ico3.png" /
              span.title.text-overflow Farmery - Game Nong Trai
          .panel-body
            .rating.small.star-3
              span
              span
              span
              span
              span
            h6.text-primary БЕСПЛАТНО