#login
  .content-box
    .content-box-header
      h3 Вход
      h3 = flash[ :message ]
    .content-box-content.small-6.medium-4.large-3
      = form_tag admin_login_path, method: :post do
        p
          label Полученный код:
          = text_field_tag "auth_code", nil, id: 'auth_code', max: '9999'
        = submit_tag 'Я ввёл код', class: 'button'
      br
      = form_tag admin_resend_path, method: :post do
        = submit_tag 'Выслать смс', class: 'button'
      br
      = form_tag admin_renew_path, method: :post do
        = submit_tag 'Обновить сессию и выслать новое смс', class: 'button'
