<nav class="top-bar" data-topbar data-options="sticky_on: large">
  ul.large.title-area
    li.name
      h1= link_to 'RichPays', root_url
    li.right.toggle-topbar.menu-icon
      a href="#" Menu
  section.right.top-bar-section
</nav>
