<nav class="top-bar" data-topbar data-options="sticky_on: large">
  ul.large.title-area
    li.name
      h1= link_to 'RichPays', root_url
    li.right.toggle-topbar.menu-icon
      a href="#" Menu
  section.right.top-bar-section
    ul
      li
        = link_to 'Дешборд', admin_index_path
      li
        = link_to 'Тикеты', admin_tickets_path
      li
        = link_to 'Новости', admin_news_index_path
      li
        = link_to 'Вопросы', admin_faqs_path
      li
        = link_to 'Рекламодатели', admin_sellers_path
      li
        = link_to 'Офферы', admin_offers_path
      li
        = link_to 'Партнёры', admin_dealers_path
      li
        = link_to 'Выплаты', admin_payments_path
      li
        = link_to 'Выход', admin_logout_path
</nav>
