.title.text-center
  h2 Автовыкуп подписок
.text-justify
  p Функция автоматического выкупа подписок позволит Вам продавать Ваши подписки системе и получать деньги моментально, не ожидая ежедневных ребиллов. Таким образом, Вы сможете получить деньги и вложить их в новый трафик для получения еще больших денег.

  p Для настройки автоматического выкупа Ваших новых подписок выберите операторов, которых Вы хотите продавать системе в рамках кампании.
  p
    strong' Правила:
    | Активные подписки выбранных операторов будут продаваться системе, при наличии одного успешного ребилла за последние три дня.

.row.margin-b-0
  .small-2.columns
    ul
  .small-8.columns
    ul.vcard.text-left
      li.megafon
        input#megafon_buyout' type='checkbox' checked=( false if @megafon_buyout == false ) name='megafon_buyout'
        label for='megafon_buyout' Мегафон (1.07$ = 41.73р.)
      li.beeline
        input#beeline_buyout' type='checkbox' checked=( false if @beeline_buyout == false ) name='beeline_buyout'
        label for='beeline_buyout' Билайн (0.77$ = 30.03р.)
      li.mts
        input#mts_buyout' disabled='' type='checkbox' checked=( false if @mts_buyout == false ) name='mts_buyout'
        label for='mts_buyout' МТС (0.39$ = 15.21р.)
  .small-4.columns

.text-center
  button.radius.success data-form-button="primary" Сохранить настройки
