.row
  .small-12.columns
    hr.margin-t-0
.row
  .small-1.columns
    input.filter data-filter='id' type='text' placeholder='ID'
  .small-2.medium-3.columns
    input.filter data-filter='name' type='text' placeholder='Название оффера'
  .small-2.medium-2.columns
    select.filter data-filter='apps_os'
      option value='' selected='' Тип устройства
      option value='android' Android
      option value='ios' iOS
      option value='ipod+iphone' iPod + iPhone
      option value='ipad' iPad
  .small-2.medium-2.columns
    select.filter data-filter='kind'
      option value='' selected='' Тип оффера
      option value='apps_advert' Приложение
      option value='mobile_content' Подписка
      option value='cpa' CPA      
  .large-4.medium-5.columns.padding-b-10
    select#countries.filter data-filter='countries' multiple=''
      - for country in @country_list
        option value=(country) = country
.row
  .small-2.medium-2.columns
    label.margin-b-0
      input.filter-checkbox type='checkbox' data-filter='motivated' checked=false
      span.tt  class='ttp' data-ttp='Только мотивированные установки' Мотивированные
  .small-2.medium-2.columns
    label.margin-b-0
      input.filter-checkbox type='checkbox' data-filter='weblanding_ready' checked=false
      span.tt  class='ttp' data-ttp='Доступен веб лендинг' Web Landing
  .small-8.columns.text-right
    a.button.filter-offer.info.padding-l-20.padding-r-20 Поиск
