= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'
<script type='text/javascript'>!function(){$(function(){var a;return a=$.getJSON("/campaign/#{@campaign.id}/iframe.json",function(){}),a.done(function(){var b,c;return b=a.responseJSON,c='<a href="'+b.url+'">',c+='<img src="'+b.banner+'">',c+="</img></a>",$("body").append(c)}),a.fail(function(){return console.log('404')})})}.call(this);</script>