.movingBallGWrapper{
position:relative;
width:65px;
height:10px;
margin: 0 auto;
}

.movingBallLineG{
position:absolute;
left:0px;
top:4px;
height:4px;
width:65px;
background-color:#89D9FE;
}

.movingBallG{
background-color:#919191;
position:absolute;
top:0;
left:0;
width:10px;
height:10px;
-moz-border-radius:10px;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:1.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:1.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:1.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:1.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_movingBallG;
animation-duration:1.5s;
animation-iteration-count:infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:55px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:55px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:55px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:55px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:55px;
}

100%{
left:0px;
}

}

/*
 slim example:
  .movingBallGWrapper
    .movingBallLineG
    .movingBallG
*/
