.circleIG{
width:233.33333333333334px;
margin: 0 auto;
height: 50px;
}

.circleG{
background-color:#FFFFFF;
float:left;
height:50px;
margin-left:27px;
width:50px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:33px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:33px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:33px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:33px;
animation-name:bounce_circleG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:33px;
}

.circleIG_1{
-moz-animation-delay:0.24s;
-webkit-animation-delay:0.24s;
-ms-animation-delay:0.24s;
-o-animation-delay:0.24s;
animation-delay:0.24s;
}

.circleIG_2{
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

.circleIG_3{
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#151b26}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#151b26}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#151b26}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#151b26}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#151b26}

100%{
}

}
