.ttp {
    border-bottom: 1px dotted rgb(174, 174, 174);
    cursor: help;
}

.ttp::after {
    min-width: 250px;
    z-index: 666;
    background: rgba(40, 60, 80, 0.7);
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    content: attr(data-ttp);
    text-align: left;
    margin-top: -24px;
    font-size: 12px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.ttp:hover::after {
    opacity: 1;
    visibility: visible;
}

.ttp-left {
    border-bottom: 1px dotted rgb(174, 174, 174);
    cursor: help;
}

.ttp-left::before {
    min-width: 250px;
    z-index: 666;
    background: rgba(40, 60, 80, 0.7);
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    content: attr(data-ttp);
    text-align: left;
    margin-top: -24px;
    font-size: 12px;
    margin-left: -125px;
    margin-right: 10px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.ttp-left:hover::before {
    opacity: 1;
    visibility: visible;
}

.ttp-center {
    border-bottom: 1px dotted rgb(174, 174, 174);
    cursor: none;
}

.ttp-center::before {
    max-width: 300px;
    z-index: 666;
    background: rgba(40, 60, 80, 0.7);
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    content: attr(data-ttp);
    text-align: center;
    font-size: 12px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    transform: translate(-50%,-35%);
}

.ttp-center:hover::before {
    opacity: 1;
    visibility: visible;
}

