doctype html
html
  head
    title Админка
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
    = stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  body
    header.sticky= render 'admin/partials/top_bar'
    = yield 
