.row
  .small-12.medium-12.large-12.columns
    table
      thead
        tr
          td ID
          td Название
          td Страны
          td Тип
          td  class='ttp' data-ttp='ID у Источника' e-ID
          td Клики
          td Конверсии
          td Доход (наш)
          td Доход (парт.)
          td Тариф
          td Лендинг
          td Статус
      tbody

.row.hide
  .small-12.medium-8.large-6.columns
    ul.pagination
      li.arrow.unavailable
        a href='' &laquo;
      li.current
        a href='' 1
      li
        a href='' 2
      li
        a href='' 3
      li
        a href='' 4
      li.unavailable
        a href='' &hellip;
      li
        a href='' 12
      li
        a href='' 13
      li.arrow
        a href='' &raquo;
  .small-12.medium-4.large-6.columns.text-right
    ul.inline-list
      li
        span.padding-t-10 Показывать на странице
      li
        ul.button-group.radius.tiny
          li
            a.button href='' 10
          li
            a.button href='' 25
          li
            a.button href='' 50
          li
            a.button href='' 100
