.panel
  .row
    .small-12.columns
      a.button.tiny.secondary href='#/payments' К выплатам
  .row
    .small-12.columns.text-center
      h2 Новая выплата
  .row
    .small-12.columns.filter-region
  .row
    .small-12.columns.table-region
  .row
    .small-12.columns.text-center
      a.button.large.action.create-payment Создать выплату с выбранными запросами
