.container
  .row
    .col-md-6
    .col-md-4
      .well.mt-30
        h3 Отписаться от рассылки:
        = form_for( '', url: request.original_url, remote: true, html: { class: 'unsubscribe-form' } ) do | f |
          p
            input.form-control.text-center.text-size.md.phone name='phone' placeholder=("Введите телефон") type="text" /
          p.mb-20
            small Пример: +79998887766
          button.retreive-link.btn.btn-block Отписаться
