#foot
  .row.inner
    .large-3.columns
      a href="#"
        = image_tag 'logo-index.png'
    .large-6.columns.text-center.margin-t-10 style='color: #999999'
      span.weight-light'  2014—2015 © RICHPAYS.COM
      span.weight-light style='color: #aaaaaa' PERFECTA ENTERPRISES INC.
      br
      span.small-size.weight-light Tenancy 10, Marina House, Eden Island, 
      span.small-size.weight-light Mahe, Seychelles
    .large-3.columns.text-right
      a.button.radius.support data-reveal-id='feedback'
        | Написать в поддержку
        span.icon.mail-flat.i-right
      #feedback.reveal-modal.small data-reveal=''
        .title.text-center.margin-b-0
          h2 Обратная связь
        .row
          .small-12.columns
            span
              | Форма обратной связи временно недоступна. По всем интересующим Вас вопросам, просьба писать на 
              a href='mailto:support@richpays.com' support@richpays.com
        form accept-charset='UTF-8'
          .row.margin-b-0
            .small-12.medium-6.large-6.columns
              input.focus type='text' name='name' placeholder='Ваше имя' disabled='true'
            .small-12.medium-6.large-6.columns
              input type='email' name='email' placeholder='Почтовый адрес' disabled='true'
          .row.margin-b-20
            .small-12.medium-12.large-12.columns
              textarea name='message' placeholder='Текст сообщения' disabled='true'
          .row.text-center.margin-b-0
            button.radius.margin-b-0 type='submit' disabled='true'
              svg.icon.icon-mail viewBox='0 0 16 16'
                use xlink:href='#icon-mail'
              | Отправить

        a.close-reveal-modal &#215;
