#head
  .top
    .row.inner
      .large-4.columns
        h1.logo
          a href=''
            img alt='RICHPAYS' src=( image_url( 'logo-index.png' ) )
      .large-7.columns
        ul.nav.right.inline-list
          li
            a.button.no-bg.radius data-dropdown="drop4" href="#"  Контакты
            #drop4.f-dropdown.content.small data-dropdown-content=""
              .row
                .large-12.columns
                  p.small-size.margin-b-10
                    svg.icon.icon-inp-skype.small viewbox=("0 0 16 16")
                      use xlink:href="#icon-inp-skype"
                    span.xlight-color aleksandr.richpays
                  p.small-size.margin-b-10
                    svg.icon.icon-icq.small viewbox=("0 0 16 16")
                      use xlink:href="#icon-icq"
                    span.xlight-color 233333233
                  p.small-size
                    svg.icon.icon-inp-email.small viewbox=("0 0 16 16")
                      use xlink:href="#icon-inp-email"
                    a href="mailto:support@richpays.com"  support@richpays.com
          li
            a.exec.button.no-bg.radius.register data-dropdown='drop2' href=''  Зарегистрироваться
            #drop2.f-dropdown.content.small data-dropdown-content=''
              = render partial: '/devise/registrations/new', locals: { resource_name: :dealer, resource: Dealer.new }
          li
            a.exec.button.no-bg.radius data-dropdown='drop3' href=''  Войти
            #drop3.f-dropdown.content.small data-dropdown-content=''
              .login-form
                = render partial: '/devise/sessions/new', locals: { resource_name: :dealer, resource: Dealer.new }
              .forget-form.hide
                = render partial: '/devise/passwords/new'
      .large-1.columns
  a.button.reg.radius.become
    svg.icon.icon-coin viewBox=('0 0 16 16')
      use xlink:href='#icon-coin'
    | Зарегистрироваться
