.row
  .small-12.columns
    ul.inline-list.margin-b-20
      li
        a.button.close-modal.secondary href='#/dealers' К дилерам
      li
        a.button.action href="#/dealers/#{ @id }" К дилеру (ID: #{ @id })
.row
  .small-6.columns
    .row
      label for='email' Почта:
      input#email type='text' value=( @email ) name='dealer[email]'
    .row
      label for='password' Почта:
      input#password type='text' name='dealer[password]' placeholder='Новый пароль'
    .row
      label for='phone' Телефон:
      input#phone type='text' value=( @phone ) name='dealer[phone]'
    .row
      label for="blocked" Заблокирован:
      .switch.secondary-color
        input#blocked type="checkbox" value=( @blocked ) name='dealer[blocked]'
        label for="blocked"
    #incdec-region.row.margin-t-20
  .small-6.columns
    .row
      label for='name' Имя:
      input#name type='text' value=( @name ) name='dealer[name]'
    .row
      label for='skype' Skype:
      input#skype type='text' value=( @skype ) name='dealer[skype]'
    .row
      label for='icq' ICQ:
      input#icq type='text' value=( @icq ) name='dealer[icq]'
    .row
      label for='jabber' Jabber:
      input#jabber type='text' value=( @jabber ) name='dealer[jabber]'
    .row
      label for='tariffs' tariffs:
      - if @tariffs
        select name='dealer[tariff_id]'
          - for t in @tariffs
            option value=(t.id) selected=(t.id == @tariff_id) #{ t.name } (#{ t.dealer_percent * 100 }%)
.row
  .small-6.columns
    button.success data-form-button="primary" Сохранить