doctype html
html
  head
    title RichPays
    = stylesheet_link_tag    'application', media: :all, 'data-turbolinks-track' => false
    = javascript_include_tag 'admin_application', 'data-turbolinks-track' => false
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    = render 'common/sprites'

  body.no-scroll-y
    = yield
