- title = "#{ @offer.landing_name }: установи с #{ @offer.store_name }" if @offer
doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    - if @offer
        link rel='icon' type='image/ico' href=(image_url("landing/#{ landing_os }/images/favicon.ico"))
        meta property="og:title" content=(title)
        meta property="og:description" content=(@offer.landing_description)
        meta property="og:url" content=(@offer.sms_domain + @offer_set.redirect_code.code)
        meta property="og:image" content=(@offer.offer_icon.file_url)
        = stylesheet_link_tag landing_os
        = javascript_include_tag 'landing'
        script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545dc094630e35c4' async='async'
    - else
        = stylesheet_link_tag 'ios'
    title = title
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    = yield
    = render partial: 'api/buyer_session/partials/footer'
    - unless browser.firefox?
      javascript:
        var capture_page_href = window.location.href
        function addLoadEvent(e){var t=window.onload;if(typeof window.onload!="function"){window.onload=e}else{window.onload=function(){if(t){t()}e()}}}function addClickEvent(e,t,n){if(typeof e[t].onclick!="function"){e[t].onclick=n}}function DisplayExitSplash(){if(PreventExitSplash==false){window.scrollTo(0,0);PreventExitSplash=true;divtag=document.createElement("div");divtag.setAttribute("id","ExitSplashMainOuterLayer");divtag.style.position="absolute";divtag.style.width="100%";divtag.style.height="100%";divtag.style.zIndex="99";divtag.style.left="0px";divtag.style.top="0px";divtag.innerHTML=theDiv;theBody.innerHTML="";theBody.topMargin="0px";theBody.rightMargin="0px";theBody.bottomMargin="0px";theBody.leftMargin="0px";theBody.style.overflow="hidden";theBody.appendChild(divtag);return exitsplashmessage}}var exitsplashmessage="Не упустите шанс скачать игру, абсолютно бесплатно в честь промо акции! Предложение ограниченно, чтобы скачать игру бесплатно сейчас нажмите [Остаться на странице]";var exitsplashpage=capture_page_href;var theDiv='<div id="ExitSplashDiv" style="display:block; width:100%; height:100%; position:absolute; background:#FFFFFF; margin-top:0px; margin-left:0px;" align="center">';theDiv=theDiv+'<iframe src="'+exitsplashpage+'" width="100%" height="100%" align="middle" frameborder="0"></iframe>';theDiv=theDiv+"</div>";theBody=document.body;if(!theBody){theBody=document.getElementById("body");if(!theBody){theBody=document.getElementsByTagName("body")[0]}}var PreventExitSplash=false;var a=document.getElementsByTagName("A");for(var i=0;i<a.length;i++){if(a[i].target!=="_blank"){addClickEvent(a,i,function(){PreventExitSplash=true})}else{addClickEvent(a,i,function(){PreventExitSplash=false})}}disablelinksfunc=function(){var e=document.getElementsByTagName("A");for(var t=0;t<e.length;t++){if(e[t].target!=="_blank"){addClickEvent(e,t,function(){PreventExitSplash=true})}else{addClickEvent(e,t,function(){PreventExitSplash=false})}}};addLoadEvent(disablelinksfunc);disableformsfunc=function(){var e=document.getElementsByTagName("FORM");for(var t=0;t<e.length;t++){if(!e[t].onclick){e[t].onclick=function(){PreventExitSplash=true}}else if(!e[t].onsubmit){e[t].onsubmit=function(){PreventExitSplash=true}}}};addLoadEvent(disableformsfunc);window.onbeforeunload=DisplayExitSplash
    - else
      javascript:
        alert('Внимание!\n\nТолько сегодня, легендарная игра которая взорвала все рейтинги, абсолютно бесплатно! Спешите скачать!');
