doctype html
html
  head
    title RichPays - Революционная монетизация мобильного трафика.
    meta name="description" content="Революционная монетизация мобильного трафика на CPI, CPA офферах."
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext', media: 'all'
    = csrf_meta_tags
    = render 'common/sprites'
  body
    - if Rails.env.production?
      javascript:
        var $buoop = {vs:{i:9,f:20,o:15,s:6},c:2};
        function $buo_f(){
            var e = document.createElement("script");
            e.src = "//browser-update.org/update.js";
            document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    .dog_wrapper
      header.login
        = render 'common/header'
    = yield
    footer.login-footer
      = render 'common/footer'
